<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="../app/views/reports/datepicker/bootstrap-datetimepicker_new.css" rel="stylesheet" type="text/css">
<link href="../app/views/reports/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style type="text/css">
  
.dialog_header {
  padding:5px; padding-left: 10px; padding-right: 10px; letter-spacing: 1px;

}
</style>

</head>
<div id="status">&nbsp;</div>
<body ng-app="mapApp">


<div ng-controller="mainCtrl" class="bg_color ng-cloak">
<div class="wrapper">

  <!-- part one -->
  <div class="modal-dialog" ng-hide="selectStopEdit">
  <!-- reset -->
  <div class="modal-content" ng-show="selectEdit1">
      <div class="modal-header" style="padding:5px; padding-left: 10px; padding-right: 10px">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <h5> Reset Password </h5> 
        </div>
      <!-- <div > -->
          <div class="col-md-12">
              <div class="alert alert-info" ng-if="error != ''">
                  <strong>{{error}}</strong>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body"  >
                        <div class="text-center">
                          
                          <!-- <p>If you have forgotten your password you can reset it here.</p> -->
                            <div class="panel-body"  style="padding: 0px"> 
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control input-sm" placeholder="Current Password" ng-model="oldValue" ng-show="check">
                                        <input class="form-control input-sm" placeholder="Current Password" ng-model="oldValue" type="password" ng-hide="check">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control input-sm" placeholder="New Password" ng-model="firstVal" ng-show="check">
                                        <input class="form-control input-sm" placeholder="New Password" ng-model="firstVal" type="password" ng-hide="check">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control input-sm" placeholder="Re-Enter New Password" ng-model="reEnterVal" ng-show="check">
                                        <input class="form-control input-sm" placeholder="Re-Enter New Password" ng-model="reEnterVal" type="password" ng-hide="check">
                                    </div>
                                    <div class="col-md-12">
                                    <!-- <input class="btn btn-sm btn-primary btn-block" value="Check" type="submit" ng-click="oldPwdCheck()" ng-hide="hideDialog"> -->
                                    <div class="col-md-12">
                                    <label class="checkbox pull-left"><input type="checkbox" value="" ng-model="check">Show Password</label>
                                    </div>
                                    <div class="col-md-6">
                                    <input class="btn btn-sm btn-primary btn-block" value="Submit" type="submit" ng-click="updatePwd()" >
                                    </div><div class="col-md-6">
                                    <a class="btn btn-sm btn-default btn-block" href="../public/track">Back</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      <!-- </div> -->
      <div class="modal-footer" style="padding: 0px">
        
      </div>
  </div>

  <!-- notification -->
  <div class="modal-content" ng-show="selectEdit2">
    <div class="modal-header dialog_header">
            <h5> Edit Notification </h5> 
        </div>
    <div class="well" style="height: 350px; overflow: scroll;">
    
      <li class="list-group-item" ng-repeat="(key, val) in notificationValue">
        <label ><input type="checkbox" ng-model="notifyUpdate[$index]" ng-checked="notifyUpdate[$index]"/> {{val}}</label>
      </li>
      
    </div>
    <div class="modal-footer dialog_header">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-block" ng-click="updateNotify()">Update</button>
      </div>
        <div class="col-md-6">
        <a class="btn btn-sm btn-default btn-block" href="../public/track">Back</a>
      </div>
      </div>
  
  </div>

  <!-- api Key -->
  <div class="modal-content" ng-show="selectEdit3" style="width: 500px;top:50px;">
    <div class="modal-header dialog_header">
            <h5> Get Api Key </h5> 
        </div>
   

       <div class="container">
             <div class="row" ng-show="validDayShow">
                
               <!-- <div class='col-md-2' style="padding-top: 50px;padding-bottom: 50px;margin-left: 25px;"> 
                      <input ng-model="apiDateTime" type='text' class="form-control" id='datetimepicker4' placeholder="Choose date & time"/>
                    </div> -->

                    <div class='col-md-2' style="padding-top: 50px;padding-bottom: 50px;margin-left: 25px;"> 
                        <h5><b>Enter Valid Days :</b></h5>
                    </div> 

                    <div class='col-md-2'  style="padding-top: 50px;padding-bottom: 50px;">
                      <input ng-model="apiValDays" type='text' class="form-control"  placeholder="Num of days"/>
                    </div>
        </div>

                 <div class="row" ng-hide="validDayShow">
                
                    <div  style="padding-top: 50px;padding-bottom: 50px;padding-left:70px;"> 
                        <span>  <h5><b>Api Key :</b> &nbsp; <b style="color:green;">{{apiKeyVal}}</b></h5></span>
                    </div> 
       
                 </div>
    
   <!--   <li class="list-group-item" ng-repeat="(key, val) in notificationValue">
        <label ><input type="checkbox" ng-model="notifyUpdate[$index]" ng-checked="checkValue(val)"/> {{key}}</label>
      </li> -->
      
      </div>

      <div class="modal-footer dialog_header">
     
      <div class="col-md-2"></div>

         <div class="col-md-4" ng-hide="validDayShow"></div>
         <div class="col-md-4">
           <a class="btn btn-sm btn-default btn-block" href="../public/track">Back</a>
          </div>

          <div class="col-md-4" ng-show="validDayShow">
           <button type="button" class="btn btn-primary btn-block" ng-click="getApiKey()">Submit</button>
          </div>

      </div>
  
   </div>
  
  </div>
  <!-- part two -->
  <!-- <div ng-show="selectStopEdit"></div> -->
    <div class="container" ng-show="selectStopEdit">
        
        <div class="panel panel-default">
          <div class="panel-heading"><b>Bus Stops</b>
          <!-- <div class="col-md-1">
            <span class="pull-right"><input class="btn btn-xs btn-danger pull-right" type="button" value="{{caption}}" ng-click="switching()"></span>

            <span class="pull-right"><a class="btn btn-sm btn-default btn-block" href="../public/track">Home</a></span>

            
          </div> -->
          <div class="btn-group pull-right row">
            <div class="col-md-1"><input class="btn btn-xs btn-danger pull-right" type="button" value="{{caption}}" ng-click="switching()"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"> <a class="btn btn-xs btn-default pull-right" href="../public/track">Home</a></div>
           </div>
          </div>
          <div class="panel-body" ng-hide="switchingVar">
          <h6 style="color: red">{{error}}</h6>
         
        <!--  <div class="col-md-3">
            <select ng-options="vehi for vehi in vehiStopList" ng-model="selectRouteName" class="form-control" ng-change="_addDetails()">
              <option style="display:none" value="">Select Vehicle</option>
            </select>
          </div> -->
          
           <div>
               <select id="routeDataList" ng-model="selectRouteName" ng-change="_addDetails()" style="width:300px;">
                  <option style="display:none" value="" disabled>Change Route</option>
               </select>
              <span style="padding-left:20%;">Route:  {{selectRouteName}}</span>
          </div>

          <!-- <div class="col-md-3">
             <input type="text" class="form-control" placeholder="Phone Number Search..." >
             <div style="font-size: 9px; text-align: center;">mob num1, mob num2,...,mob num n</div>
          </div> -->
          <hr>
          
           <table class="table table-bordred table-hover">
              <thead>
                  <th>S.No</th>
                  <th>Enroll No</th>
                  <th>Student Name</th>
                  <th>Mobile No</th>
                  <th>Standard</th>
                  <th width="25%">Bus Stop</th>
                  
                  <th>Edit &nbsp;|&nbsp; Delete</th>
              </thead>
              <tbody>
                <tr ng-repeat = "row in rowsValue">
                  <td>{{$index+1}}</td>
                  <td><input type="text" ng-if="row.eNum == ' '" ng-model="row.eNumNew" class="form-control input-sm">{{row.eNum}}</td>
                  <td><input type="text" ng-if="row.sName == ' '" ng-model="row.sNameNew" class="form-control input-sm">{{row.sName}}</td>
                  <td><input type="text" ng-if="row.mNum == ' '" ng-model="row.mNumNew" class="form-control input-sm">{{row.mNum}}</td>
                  <td><input type="text" ng-if="row.std == ' '" ng-model="row.stdNew" class="form-control input-sm">{{row.std}}</td>
                  <td>
                  <select ng-if="row.poiIds == ''" ng-options="vehi.stop for vehi in stopList" ng-model="row.poiId" class="form-control input-sm">
                    <option style="display:none" value="">Select BusStop</option>
                  </select>{{row.poiIds}}
                  </td>
                  
                  <td><button class="btn btn-default btn-xs" ng-click="_editStop($index, 'one')" ng-if="row.mNum != ' '"><span class="glyphicon glyphicon-pencil"></span></button>&nbsp;&nbsp;<button class="btn btn-default btn-xs" ng-click="_undoEdit($index, 'one')" ng-if="row.mNum == ' '"><span class="glyphicon glyphicon-ok"></span></button>&nbsp;&nbsp;<button class="btn btn-default btn-xs" ng-click="_deleteMobNum($index)"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                <tr ng-if="rowsValue.length == 0" class="err"><td colspan="5"><h5>No Data Found!</h5></td></tr>
              </tbody>
          </table>
          <hr>
          <div class="col-md-3">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Add Rows" min="0" ng-model="counts">
              <span class="input-group-addon" ng-click="addRows(counts)"><a class="glyphicon glyphicon-plus" style="text-decoration: none; cursor: pointer;"></a> </span>
            </div>
          </div>
          <div class="col-md-7"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" ng-click="submitValue()">Submit</button>
          </div>
         
          </div>
          <!-- for searching panel -->
          <div class="panel-body" ng-show="switchingVar">
            <h6 style="color: red">{{error}}</h6>
          
          <div class="col-md-3">
             <input type="text" class="form-control" placeholder="MobileNo Search..." ng-model="mobileNo">
             <div style="font-size: 9px; text-align: center;">Num1,Num2,... Dnt try space</div>
          </div>
          <div class="col-md-3">
             <input type="button" class="btn btn-primary btn-block" value="Search" ng-click="searchingMobile(mobileNo)">
             
          </div>
          <hr>
          <table class="table table-bordred table-hover">
              <thead>
                  <th>S.No</th>
                  <th>Enroll No</th>
                  <th>Route</th>
                  <th>Student Name</th>
                  <th>Mobile No</th>
                  <th>Standard</th>
                  <th width="25%">Bus Stop</th>
                  <th>Delete</th>
             <!-- <th>Edit &nbsp;|&nbsp; Delete</th> -->
              </thead>
              <tbody>
                <tr ng-repeat="value in searchValue.studentDetails">
                  <td>{{$index+1}}</td>
                  <td>{{value.enrollNum}}</td>
                  <td>{{value.route}}</td>
                  <td>{{value.name}}</td>
                  <td>{{value.mobileNumber}}</td>
                  <td>{{value.class}}</td>
                  <td>{{value.busStop}},&nbsp;{{value.BusStopName}}</td>
                  <td>
                  <!-- <button class="btn btn-default btn-xs" ng-click="_editStop($index, 'one')" ng-if="row.mNum != ' '"><span class="glyphicon glyphicon-pencil"></span></button>&nbsp;&nbsp;<button class="btn btn-default btn-xs" ng-click="_undoEdit($index, 'one')" ng-if="row.mNum == ' '"><span class="glyphicon glyphicon-ok"></span></button>&nbsp;&nbsp;-->
                    <button class="btn btn-default btn-xs" ng-click="_deleteFilterMobNum($index,value.mobileNumber,value.route)"><span class="glyphicon glyphicon-trash"></span></button>
                  </td>
                </tr>
              </tbody>
              <tr ng-if="searchValue.error != null" class="err"><td colspan="5"><h6>{{searchValue.error}}</h6></td></tr>
          </table>
          </div>
          <div id="snackbar">{{toast}}</div>
        </div>
    </div>

</div>
</div>

<script src="assets/js/static.js"></script>
<script src="assets/js/jquery-1.11.0.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> 
<script src="../app/views/reports/datepicker/bootstrap-datetimepicker_new.js"></script>
<script src="../app/views/reports/datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="assets/js/vamoApp.js"></script>
<script src="assets/js/services.js"></script>
<script src="assets/js/auth_pwd.js"></script>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker4').datetimepicker();
  });
</script>

</body>
</html>
