<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>

<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<!-- <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet"> -->
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">

<style type="text/css">
    
    /*.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
}*/
.boxing_size{
     margin-top: 15px ;

}
/*tr.selected {
    background-color: green
}

.selected{
  background:black;
  color:white;
}*/

</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>
<body ng-app="mapApp" class="ng-cloak">
    <div id="wrapper-site" ng-controller="mainCtrl">
         <div id="sidebar-wrapper-site">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
            </ul>
        </div>
        <div id="page-content-wrapper" style="background-color: #e7e7e7; width: 100%; height: 100vh;" ng-hide="_tabValue">
           
            <label align="center" style="top: 25%; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; font-weight: bold;" class="panel-title">Reconfirm Password</label>
            <div style=" width: 100%; height: 100vh; padding: 10px;">
                <div style="width: 400px; height: 200px; background-color: #f4f4f4; top: 0; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; border-radius: 4px; float:left; box-shadow: 5px 5px 2px 2px #888888;">
                    <input type="password" name="password" style="width: 250px; height:30px; top: 0; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; border-radius: 4px" placeholder="Password" ng-model="pwd">
                    <span style="width: 60px; height:30px; top: 100px; left: 0; bottom: 0; right: 0;  margin: auto;position: absolute; border-radius: 4px; background-color: #357ebd; cursor: pointer; padding: 4px; color: #fff" align="center" ng-click="passwordConfirm()">Submit</span>
                </div>
            </div>
        </div>
        <div ng-show="_tabValue">


        <div class="row">
            <div class="col-md-6 boxing_size">
                <div class="box box-primary" style="margin-left: 10px">
                    <div class="box-header">
                        <h3 class="box-title">Groups </h3>
                        <h5 style="color: red">{{error}}</h5>
                        <div class="box-tools" >
                            <span class="pull-right" style="margin-left: 5px"><input class="btn btn-xs btn-danger pull-right" type="button" value="Add Group" ng-click="addGroup()"></span>
                        
                        </div>
                    </div>
            
                    <table class="table table-bordred table-hover">
                        <thead>
                            <th>SNo</th>
                            <th>GroupName</th>
                            <th>Edit</th>
                            <th>Save</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="groups in groupList" >
                                    <td>{{$index+1}}</td>
                                <td>{{trimColon(groups.groupName)}}  <input type="text" name="grpN" ng-if="groups.groupName == ''" ng-model="groups.newGp" ng-change="changevalue(groups.newGp, $index)"></td>
                                <td><button class="btn btn-primary btn-xs" ng-if="trimColon(groups.groupName) != finalUserName"  ng-click="editGroup(groups.groupName)"><span class="glyphicon glyphicon-pencil"> </span></button></td>
                                <td><button class="btn btn-primary btn-xs" ng-if="trimColon(groups.groupName) != finalUserName"  ng-click="updateGroup(groups.groupName)"><span class="glyphicon glyphicon-floppy-disk"></span></button></td>
                                <td><button class="btn btn-danger btn-xs" ng-if="trimColon(groups.groupName) != finalUserName"  ng-click="removeGroup(groups.groupName)"><span class="glyphicon glyphicon-trash"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
       
            <div class="col-md-6 boxing_size" ng-show="vehiList.length >= 1">
                <div class="box box-primary" style="padding: 0px">
                    <div class="box-header">
                        <h3 class="box-title">{{vehiLabel}}s</h3>
                        <div class="box-tools pull-right">
                           <span class="pull-right"><a>GroupName&nbsp;|&nbsp;{{trimColon(grpName)}}</a></span>        
                        </div>
                        
                    </div>
            
                    <table id="mytable" class="table table-bordred table-hover" cellspacing="0" width="100%">
                        <thead>
                            <th><input type="checkbox" ng-model="check_box" ng-click="checkAll()"/></th>
                            <th>{{vehiLabel}} Name</th>
                            <!-- <th>ShortName</th> -->
                        </thead>
                        <tbody>
                            <tr ng-repeat="vehi in vehiList">
                                <td><input type="checkbox" ng-model="vehi.check" ng-checked="vehi.check" /></td>
                                <!-- <td>{{vehi.vehicles}}</td> -->
                                <td>{{vehi.shortName}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
       
</div>
        </div>
    </div>   
   
    <script src="assets/js/static.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>

    <!-- <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script> -->
    
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/auth_pwd.js"></script>
   <!-- <script type="text/javascript">
    $(document).ready(function() {
        $('#mytable').DataTable( {
            "order": [[ 1, "desc" ]]
        });
    });
   </script> -->
    
</body>
</html>
