<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="../app/views/reports/datepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<!-- <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css"> -->
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}</style>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<style type="text/css">


.tot{
	font-stretch: expanded;	
	text-decoration: underline;
	font-size: 15px;
}

#table_address {
    padding-top: 35px;
    float: left;
}

.tot:hover{
    transition: 0.8s;
	color: yellow;
}

div#butt:active { 
    background-color: yellow;
}

div#butt:focus { 
    background-color: yellow;
}


  body{
   font-family: 'Lato', sans-serif;
 /*font-weight: bold;*/	

 /*font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: 'Faustina', serif;
   font-family: 'PT Sans', sans-serif;
   font-family: 'Ubuntu', sans-serif;
   font-family: 'Droid Sans', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
  */
} 

#map_canvas { 
	width:100%; height:100%;
}

.drop-menu {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding: 10px 10px;
    font-size: 22px;
    height: 25px;
    max-height: 25px;
    width: 400px;
    background: rgba(51, 51, 51, 0);
    cursor: pointer;
    border: 1px solid black;
}
	
.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th {
 background-color: #ffffff;
}

.butList:hover {
   
}
	  
</style>
</head>
<div id="preloader" >

    <div id="status">&nbsp;</div>
</div>
<!-- <div id="preloader02" >
      <div id="status02">&nbsp; -->
    	<!-- <p id="preloader"> asdasdß</p> -->
 <!-- </div>
</div> -->

<body ng-app="mapApp" class="ng-cloak">
	<div id="wrapper" ng-controller="mainCtrl">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="javascript:void(0);" class="active"><div></div><label>Reports</label></a></li>
		 		<li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav" style="overflow-y: auto;">
                <li style="padding-left:25px;">
                	<div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
                <li ng-repeat="location in locations | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
                    <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                    <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox"><a href="history?vid={{loc.vehicleId}}&vg={{location.group}}" ng-class="{active: $index == selected, red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)">
               <!-- <img ng-hide="vehiImage" ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/> -->
                    <img ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                    <img ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                    <span tooltips tooltips-position="right">{{loc.shortName}}</span></a></li>
                    </ul>
                </li>
            </ul>
        	
        </div>
        
     	<div id="testLoad"></div>
        <div id="page-content-wrapper">
        	 <div class="container-fluid">
        	       <div class="panel panel-default">
				   </div>   
              </div>
        <!-- /#page-content-wrapper -->
        </div>
 
        <!-- AdminLTE css box-->

        <div ng-show="reportBanShow" class="modal fade" id="allReport" role="dialog" style="top: 100px">
			<div class="modal-dialog">
			    <div class="modal-content">
					    <div class="modal-body">
					        <p class="err" style="text-align: center;"> You are not a premium user !... </p>
					    </div>
			    </div>
			</div>
	    </div> 

        <div ng-show="reportBanShow" class="col-md-10" >
            <div class="box box-primary" style="height:90px; padding-top:30px; margin-top:5%; margin-left:8%;">
                <p ><h5 class="err" style="text-align: center;"> No Reports Found! </h5></p>
            </div>
        </div>
   
       <div class="col-md-12" ng-hide="reportBanShow">

	       	<tabset class="nav-tabs-custom">
			   <tab ng-show="curStatShow" heading="Dashboard" id="tabs" active="firstTab" ng-click="startTime('shortName', 'reload')">
			   	<div class="box box-primary1" ng-show="curStatShow">

		        <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip" >
		        	
		           <h5 class="box-title">Dashboard</h5>
		            
		           <!-- language -->
		           <!-- <hr style="margin-bottom:0px;"> -->
		           <!--  <div class="box-tools pull-right">
		                   <img style="cursor: pointer;" ng-click="exportData('statusreport')"  src="../app/views/reports/image/xls.png" />
		            	   <img width=30 height=30 style="cursor: pointer;" ng-click="exportDataCSV('statusreport')"  src="../app/views/reports/image/csv.jpeg" />
		                 </div> -->

                <div class="span6 pull-right" style="padding:10px;" ng-init="geoVehLocations()">
					<button type="button" ng-hide= "verifyGeoCount == 0" class="btn btn-primary" data-toggle="modal" data-target="#GeoFenceDetail" ng-click="geoVehLocations()">Geo Fence Report</button>
                    <button type="button" ng-show="showGeoRoid" class="btn btn-primary" ><a style="color:inherit;" href="http://georoidcamera.com" target="_blank">Georoid Camera</a></button>
				<div class="modal fade" id="GeoFenceDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				   <div class="modal-dialog" role="document">
						<div class="modal-dialog" role="document">
					        <div class="modal-content">
					        
					        <div class="modal-header" >
					
						        <h5 class="modal-title" id="exampleModalLabel" >Geo Fence Report</h5>
											<span class="close" data-dismiss="modal" style="margin-top: -17px;">X</span>
							</div>

			    <div class="modal-body">
						<div class="panel-group" id="accordion" ng-repeat="itemss in getGeoFence track by $index"  ng-init="getCount($index)">
                           <div class="panel panel-default" >
                                <div  class="panel-heading" >


                                   <h8 class="panel-title" style="font-size:14px;padding-right:14px;">   Site Name :  </h8>
    
                                    <h8 class="panel-title"  style="font-size:14px;padding-right:14px;"> 


                               
                                        <a data-toggle="collapse"   href="#collapse{{$index}}"  data-parent="#accordion0" >
                                         <u > {{itemss.geoFence}}</u></a>


		                                    <div class="span6 pull-right"   ng-hide="getGeoFence[$index].getVehicles.length == 1"><b> 
		                                     	
		                                     {{getGeoFence[$index].getVehicles.length}} {{vehiLabel}}s </b>
		                                     </div> 
		                                      <div class="span6 pull-right"    ng-show="getGeoFence[$index].getVehicles.length == 1"><b> {{getGeoFence[$index].getVehicles.length}} {{vehiLabel}} </b></div>
                                    </h8>
                                </div>

                         <div id="collapse{{$index}}" class="panel-collapse collapse">
                             <div class="panel-body">
                               <table class="table">
                                   <thead class="thead-inverse">
                                     <tr>
                                         <th style="text-align: left;">Count</th>
                                         <th style="text-align: left;">{{vehiLabel}} Name</th>
                                          <th style="text-align: left;">Status</th>
                                          <th style="text-align: left;">Position</th>
                                          <th style="text-align: left;">Duration (h:m:s)</th>
                                      </tr>
                                   </thead>
                                <tbody>
                                <tr ng-repeat="item in itemss.getVehicles">
                                  <th scope="row" style="text-align: left;">{{$index+1}}</th>
                                  <td style="text-align: left;">{{siteSplitName(item,1)}}</td>
                                  <td style="text-align: left;">{{siteSplitName(item,2)}}</td>
                             <!-- <td style="text-align: left;">{{siteSplitName(item,3)}}</td> -->

                                  <td style="text-align: left;" ng-switch on="siteSplitName(item,3)">
			                            <span ng-switch-when="S" style="padding-left:10px;"><img title="Vehicle Standing" src="assets/imgs/orange.png"/></span>
			                            <span ng-switch-when="M" style="padding-left:5px;">
			                                <span ng-if="siteSplitName(item,5) == 'R'" style="padding-left:5px;"><img src="assets/imgs/red.png"></span>
			                                <span ng-if="siteSplitName(item,5) == 'G'" style="padding-left:5px;"><img src="assets/imgs/green.png"></span>
			                            </span>
			                            <span ng-switch-when="P" style="padding-left:10px;"><img title="Vehicle Parked" src="assets/imgs/flag.png"/></span>
			                            <span ng-switch-when="U" style="padding-left:10px;"><img title="Vehicle NoData" src="assets/imgs/gray.png"/></span>
			                        </td>

                                  <td style="text-align: left;">{{msToTime(siteSplitName(item,4))}}</td>
                                </tr>
	 
                          </tbody>
                       </table>
	               </div>
                </div>
            </div>
 
                 </div>
	
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						
					</div>
					</div>
 					 </div>		

				</div>
				</div>
		    </div>

    </div>
		        <hr style="margin: 0px">
		        <div class="box-body">
		        	<table class="table">
					   	<thead style="font-weight: bold;">
					   	    <th><b>Company :</b>&nbsp;&nbsp;{{data2.compName}}</th>
						  	<th><b>{{vehiLabel}} Group :</b> &nbsp;&nbsp;{{trimColon(data2.group)}}</th>
						  	<th><b>Report Date :<b> &nbsp;&nbsp;{{today| date:'yyyy-MM-dd'}}</th>									  
						  	<th><div id="google_translate_element"></div></th>
						  	<td>
						  		<div class="pull-right">
						  			<img style="cursor: pointer;" ng-click="exportData('statusreport')"  src="../app/views/reports/image/xls.png" />
		            				<img style="cursor: pointer;" ng-click="exportDataCSV('statusreport')"  src="../app/views/reports/image/csv.jpeg" />
						  		</div>
						  	</td>									  
						</thead>
						<thead>
							
						</thead>				  	
		        	</table>
		        	<!-- <input class="btn btn-xs btn-danger pull-right" type="button" value="More" ng-click="toggle = !toggle" > -->
		        	<hr style="margin:0px 0px 10px 0px;">

                <div class="col-md-3" ng-show="cardMsgShow" ng-click="filtDatas('tot')" style="cursor: pointer;">
			        	<div class="small-box bg-green">
	                       <div class="inner">
	
	                       <div id="totClick"><p><!--<i class="fa fa-taxi pull-right"></i>--><a class="butList" href="" ng-click="filtDatas('tot')" style="color: inherit;font-weight: bold;"><span class="tot">Total</span></a> <span style="float: right;padding-right:18px;"><b>{{data2.totalVehicles}}</b></span></p></div> 
	                       </div>
	               	    </div>
	            </div>

	       <div class="col-md-3" ng-show="cardMsgShow" ng-click="filtDatas('vehiOn')" style="cursor: pointer;">
			   <div class="small-box bg-yellow">
	              <div class="inner">
	              <div id="vehiOnClick"> <p><!--<i class="fa fa-taxi pull-right"></i>--><a  class="butList" href="" ng-click="filtDatas('vehiOn')"  style="color: inherit;font-weight: bold;"><span class="tot">Online</span></a> <span style="float: right;padding-right:18px;"><b> {{data2.online}}</b></span></p></div> 
	             </div>
	         </div>
	     </div>
	                
	                 <div class="col-md-3" ng-show="cardMsgShow" ng-click="filtDatas('move')" style="cursor: pointer;">
			        	<div class="small-box bg-red">
	                        <div class="inner">
	                       
	                        <div   id="moveClick"> <p><!--<i class="fa fa-taxi pull-right" ></i>--><a class="butList" href="" ng-click="filtDatas('move')" style="color: inherit;font-weight: bold;"><span class="tot">Moving</span></a> <span style="float: right;padding-right:18px;"><b> {{data2.totalMovingVehicles}}</b></span></p> </div> 
	                        </div>
	                
	                     </div>
	                </div>


	               <div  class="col-md-3" ng-show="cardMsgShow" ng-click="filtDatas('idle')" style="cursor: pointer;">
			        	<div class="small-box bg-blue">
	                        <div class="inner">
	                         <!-- <h3></h3> -->
	                          <div id="idleClick"><p><!--<i class="fa fa-taxi pull-right"></i>--><a class="butList" href="" ng-click="filtDatas('idle')" style="color: inherit;font-weight: bold;"><span class="tot">Idle</span></a> <span style="float: right;padding-right:18px;"><b> {{data2.totalIdleVehicles}}</b></span></p>  </div>
                          
	                      </div>
	                     </div>
	                </div>   

                         
	               <div  class="col-md-3" ng-show="cardMsgShow" ng-click="filtDatas('park')" style="cursor: pointer;">
			        	<div class="small-box bg-aqua">
	                        <div class="inner">
	                 
	                         <div id="parkClick" > <p><!--<i class="fa fa-taxi pull-right"></i>--><a class="butList" href="" ng-click="filtDatas('park')"  style="color: inherit;font-weight: bold;"><span class="tot">Parking</span> </a><span style="float: right;padding-right:18px;"><b>{{data2.totalParkedVehicles}}</b></span></p>   </div>

             

	                        </div>
	                
	                     </div>
	                </div>

	                <div class="col-md-3" ng-show="cardMsgShow" ng-click="filtDatas('noDat')" style="cursor: pointer;" >
			        	<div  class="small-box bg-dark-gray active" >
	                     <div class="inner">
	      
	                         <div id="noDatClick"> <p><!--<i class="fa fa-taxi pull-right"></i>--><a class="butList" href="" ng-click="filtDatas('noDat')" style="color: inherit;font-weight: bold;"><span class="tot">No Data</span ></a> <span style="float: right;padding-right:18px;"><b> {{data2.totalNoDataVehicles}}</b></span></p> </div> 
                      

	                        </div>
	            
	                     </div>
	                </div>


      			<div  class="col-md-3" ng-show="cardMsgShow">
			        <div class="small-box bg-teal">
	                    <div class="inner">
	                    <!-- <h3></h3> -->
	                   <div ng-if="data2.distance > 1" > <p><!--<i class="fa fa-tachometer pull-right"></i>--><span style="text-decoration: none;font-weight: bold;" class="tot">Total Kms </span> <span style="float: right;padding-right:18px;"><b>{{data2.distance|number:0}} </b></span> </p></div>

	                   <div ng-if="data2.distance <= 1" > <p><!--<i class="fa fa-tachometer pull-right"></i>--><span style="text-decoration: none;font-weight: bold;" class="tot">Total Km </span> <span style="float: right;padding-right:18px;"><b>{{data2.distance|number:0}} </b></span> </p></div>      
	          			</div>
	                </div>
	            </div>
	                
	               	<div class="col-md-3" ng-show="cardMsgShow">
			        	<div class="small-box bg-maroon">
	                        <div class="inner">
	                        <!-- <h3></h3> -->
	                         <div ng-if="data2.alerts > 1"><p><!--<i class="fa fa-bell pull-right"></i>--><span style="text-decoration: none;font-weight: bold;" class="tot">Alarms / Attentions </span> <span style="float: right;padding-right:18px;"><b>{{data2.alerts}}</b></span></p></div> 
	                          <div ng-if="data2.alerts <= 1"><p><!--<i class="fa fa-bell pull-right"></i>--><span style="text-decoration: none;font-weight: bold;" class="tot">Alarm / Attention </span> <span style="float: right;padding-right:18px;"><b>{{data2.alerts}}</b></span></p></div>                                  
	                        </div>
	                    
	                     </div>
	                </div>
	                
	       		</div>
		       
		        <div class="box-body" id="statusreport" style="overflow-y:auto;">

		           <table class="table table-striped table-bordered table-condensed table-hover" id="table_address">
		           				  <!--  <tr ng-hide ="true" style="font-weight: bold;">
									  	<td>Vehicle Group : {{data1.group}}</td>					  
									  	<td style="text-align: right;">Report Date : {{today}}</td>				
								  	</tr> -->
								   	<!-- <tr ng-hide ="true" style="text-align:center; font-weight: bold;">
									  	<td colspan="4"> Vehical Group</td>
									  	<td >{{data1.group}}</td>
									  	<td colspan="2">Total Vehicle</td>
									  	<td >{{data1.totalVehicles}}</td>
									  	<td colspan="3">Total Km - today</td>
									  	<td>{{data1.distance}}</td>						
								  	</tr>
								  	<tr ng-hide ="true" style="text-align:center;font-weight: bold;">
									  	<td colspan="4">Alarms/Atentions</td>
								       	<td>{{data1.alerts}}</td>
								      	<td colspan="2">Vehicles Online</td>
								      	<td>{{data1.online}}</td>
								      	<td colspan="3">Report Date</td>
								      	<td></td>
								    </tr> -->
									<tr style="text-align:center">
										<th width="10%" class="id" custom-sort order="'shortName'" sort="sort" style="text-align:center;background-color:#d2dff7;">{{vehiLabel}} Name</th>
								   <!-- <th ng-hide="true" style="text-align:center;">Vehicle Name</th> -->
										<th width="5%" class="id" custom-sort order="'regNo'" sort="sort" style="text-align:center;background-color:#d2dff7;">Reg No</th>
										<th width="10%" class="id" custom-sort order="'date'" sort="sort" style="text-align:center;background-color:#d2dff7;">Last Seen</th>
										<th width="10%" class="id" custom-sort order="'date'" sort="sort" style="text-align:center;background-color:#d2dff7;">Last Comm</th>
										<th ng-if="vehiAssetView" width="5%" class="id" custom-sort order="'driverName'" sort="sort" style="text-align:center;background-color:#d2dff7;">Driver</th>
										<!-- <th ng-hide="true">Mobile Number</th> -->
										<th width="5%" class="id" custom-sort order="'distanceCovered'" sort="sort" style="text-align:center;background-color:#d2dff7;">KMS</th>
										<th width="5%" class="id" custom-sort order="'speed'" sort="sort" style="text-align:center;background-color:#d2dff7;">Speed</th>
										<th width="5%" class="id" custom-sort order="'position'" sort="sort" style="text-align:center;background-color:#d2dff7;">Position</th>
										<th width="5%" class="id" custom-sort order="'position'" sort="sort" style="text-align:center;background-color:#d2dff7;">Duration H:M:S</th>
								   <!-- <th width="5%" class="id" custom-sort order="'status'" sort="sort" style="text-align:center;">GPS</th> -->
								   <!-- <th width="5%" class="id" custom-sort order="'gsmLevel'" sort="sort" style="text-align:center;background-color:#d2dff7;">Sat</th> -->
								   <!-- <th width="5%" class="id" custom-sort order="'loadTruck'" sort="sort" style="text-align:center;background-color:#d2dff7;">Load</th> -->
										<th width="8%" class="id" custom-sort order="'powerStatus'" sort="sort" style="text-align:center;background-color:#d2dff7;">Veh Battery</th>
										<th width="5%" class="id" custom-sort order="'vehicleBusy'" sort="sort" style="text-align:center;background-color:#d2dff7;">A/C</th>
										<th width="5%" class="id" custom-sort order="'temperature'" sort="sort" style="text-align:center;background-color:#d2dff7;">Celsius</th>
										<th width="32%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;background-color:#d2dff7;">Nearest Location</th>
										<th width="5%" style="text-align:center;background-color:#d2dff7;">GMap</th>
									</tr>
								<tr ng-repeat="user in data1.vehicleLocations | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center; font-size: 11px">
										<td><a href="history?vid={{user.vehicleId}}&vg={{data1.group}}">{{user.shortName}}</a></td>
								   <!-- <td ng-hide="true"></td> -->
										<td>{{user.regNo}}</td>
										<td>{{user.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
										<td>{{user.lastComunicationTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
										<td ng-if="user.driverName == 'nill' || user.driverName == '' && vehiAssetView==true">--</td>
										<td ng-if="user.driverName!= 'nill' && user.driverName != '' && vehiAssetView==true">{{user.driverName}}</td>
										<!-- <td ng-hide="true">{{user.mobileNo}}</td> -->
									    <td>{{user.distanceCovered}}</td>
										<td>{{user.speed}}</td>
										<td ng-switch on="user.position">
			                                <span ng-switch-when="S"><img title="Vehicle Standing" src="assets/imgs/orange.png"/></span>
			                                <span ng-switch-when="M">
			                                	<span ng-if="user.color == 'R'"><img src="assets/imgs/red.png"></span>
			                                	<span ng-if="user.color == 'G'"><img src="assets/imgs/green.png"></span>
			                                </span>
			                                <span ng-switch-when="P"><img title="Vehicle Parked" src="assets/imgs/flag.png"/></span>
			                                <span ng-switch-when="U"><img title="Vehicle NoData" src="assets/imgs/gray.png"/></span>
			                            </td>
			                            <td ng-switch on="user.position">
			                            	<span ng-switch-when="S">{{msToTime(user.idleTime)}}</span>
			                                <span ng-switch-when="M">{{msToTime(user.movingTime)}}</span>
			                                <span ng-switch-when="P">{{msToTime(user.parkedTime)}}</span>
			                                <span ng-switch-when="U">{{msToTime(user.noDataTime)}}</span>
			                            </td>
			                       <!-- <td>{{user.gsmLevel}}</td> -->
			                       <!-- <td ng-switch on="user.status">
			                                <span ng-switch-when="OFF"><img title="GPS OFF" src="assets/imgs/gof.png"/></span>
			                                <span ng-switch-when="ON"><img title="GPS ON" src="assets/imgs/gon.png"/></span>
			                            </td>
			                           <td ng-switch on="user.ignitionStatus">
			                                <span ng-switch-when="OFF"><img src="assets/imgs/no.png"/></span>
			                                <span ng-switch-when="ON"><img src="assets/imgs/yes.png"/></span>
			                           </td> -->
										<!--<td ng-if="user.loadTruck=='nill'">--</td>-->
										<!--<td ng-if="user.loadTruck!='nill'">{{user.loadTruck}}</td>-->
										<!--<td>{{user.powerStatus}}</td>-->
                                        <td ng-switch on="user.powerStatus">
			                                 <span ng-switch-when="1">ON</span>
			                                 <span ng-switch-when="1.0">ON</span>
			                                 <span ng-switch-when="0">OFF</span>
			                                 <span ng-switch-when="0.0">OFF</span>
			                                 <span ng-if="user.powerStatus != 0 && user.powerStatus != 1 && user.powerStatus != 0.0 && user.powerStatus != 1.0">{{user.powerStatus}}</span>
			                            </td>

										<td ng-switch on="user.vehicleBusy">
			                                <span ng-switch-when="yes" style="color: #ff0045">ON</span>
			                                <span ng-switch-when="no" style="color: #00ce2f">OFF</span>
			                            </td>
			                            
			                            <td>{{user.temperature}}</td>
										<td ng-if="user.address!=null" address={{user.address}}>{{user.address}}</td>
										<td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && mainlist[$index]==null">Click Me</td>
										<td style="cursor: pointer;" ng-if="user.address==null && mainlist[$index]!=null">{{mainlist[$index]}}</td>
										<td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>														
									</tr>
									<tr ng-if="data1.vehicleLocations==null || data1.vehicleLocations.length==0">
										<td colspan="15" class="err"><h5>No Data Found!</h5></td>
									</tr>
								</table>		
		        </div>
		    </div>	
    		</tab>
    		<tab ng-show="consolTabShow" heading="Consolidated Report" ng-click="dialogBox()" active="actTab" id="consoldate" data-toggle="modal" data-target="#myModal"> 
    			
    			<div class="box box-primary1" ng-show="consolTabShow">
    				
    				 <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
		        	
		            <h5 class="box-title">Consolidated Report</h5>
		            <div class="box-tools pull-right">
		                <!-- <a href="" target="_blank"><img src="../app/views/reports/image/Adobe.png" /></a> -->
		                <img style="cursor: pointer;" ng-click="exportData('conreport')"  src="../app/views/reports/image/xls.png" />
		            	<img width=30 height=30 style="cursor: pointer;" ng-click="exportDataCSV('conreport')"  src="../app/views/reports/image/csv.jpeg" />
		            </div>
		        </div>

		        <!-- modal box -->
		        	<div class="modal fade" id="myModal" role="dialog" style="top: 100px">
					    <div class="modal-dialog">
					    
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Consolidated Report</h4>
					        </div>
					        <div class="modal-body">
					          <p>This Report will take 5-10 seconds to load. Click OK to continue.</p>
					        </div>
					        <div class="modal-footer">
					        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="consoldate()">Ok</button>
					          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dateFunction()">Close</button>
					        </div>
					      </div>
					      
					    </div>
					  </div>

				 <!-- modal box -->
		        	<div class="modal fade" id="connSlow" role="dialog" style="top: 100px">
					    <div class="modal-dialog">
					    
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Consolidated Report</h4>
					        </div>
					        <div class="modal-body" align="center">
					          <h4>{{connSlow}}</h4>
					        </div>
					        <div class="modal-footer">
					        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					      
					    </div>
					  </div>


					  <div class="row">
		            		<div class="col-md-1" align="center"></div>
		    				<div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                                <input type="text" ng-model="fromdate1" class="form-control placholdercolor" id="dateFrom" placeholder="From date">
		                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
		                        	</div>
		                      	</div>
		                    </div>
		                    <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp" id="timeFromh">
                                            <input type="text" class="form-control placholdercolor" ng-model="fromTime" id="timeFrom" placeholder="From time">
                                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                                    	</div>
		                      	</div>
		                      	
		                    </div>
		                    <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="todate1" class="form-control placholdercolor" id="dateTo" placeholder="To date">
		                              	<!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
		                        	</div>
		                      	</div>
		                    </div>
		                    <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="totime" class="form-control placholdercolor" id="timeTo" placeholder="To time">
		                              	<!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
		                        	</div>
		                      	</div>
		                    </div>
		                   <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                    		<div class="input-group datecomp">
		                       			 <button ng-click="consoldate1()" style="margin-left: -100%;" id="but">Submit</button>


		                       		</div>
		                    	</div>
		                    </div>
		                   
		                </div>
		                <div id="conreport" >
		                	
		                <div class="box-body">
		                
			           					<table class="table table-striped table-bordered table-condensed table-hover">
			           						<tr>

			           						</tr>
			           						<tbody ng-repeat="user in consoldateData track by $index">
					           				  	<tr style="text-align:center">
													<td colspan="2" style="font-size:13px;background-color:#C2D2F2;"><b>{{vehiLabel}} Name : &nbsp;{{user.vehicleName}}</b></td>
													<td colspan="4" style="font-size:13px;background-color:#C2D2F2;"><b>From : &nbsp;{{fromdate1}} &nbsp; {{convert_to_24hrs(fromTime)}} &nbsp;&nbsp;- &nbsp;&nbsp; To : &nbsp;{{todate1}}  &nbsp;{{convert_to_24hrs(totime)}}</b></td>
													<td colspan="3" style="font-size:13px;background-color:#C2D2F2;"><b>Trip Distance : &nbsp;{{user.totalTripLength}} Km</b></td>
												</tr>
												<tr style="text-align:center">
													<td colspan="2" style="font-size:12px;background-color:#ecf7fb;"><b>Moving :&nbsp; {{msToTime(user.totalMovingTime)}}</b></td>
													<td colspan="2" style="font-size:12px;background-color:#ecf7fb;"><b>Parked :&nbsp; {{msToTime(user.totalParkedTime)}}</b></td>
													<td style="font-size:12px;background-color:#ecf7fb;"><b>Idle :&nbsp; {{msToTime(user.totalIdleTime)}}</b></td>
													<td colspan="1" style="font-size:12px;background-color:#ecf7fb;"><b>Speed hike : &nbsp;{{user.topSpeed}} Km</b></td>
													<td colspan="1" style="font-size:12px;background-color:#ecf7fb;"><b>Avg speed : &nbsp;{{user.averageSpeed}} Km</b></td>
												</tr>
												<tr><td colspan="7" bgcolor="black"></td><tr>
												<tr class="active" style="text-align:center">
													<td rowspan="2"><b>Status</b></td>
													<td rowspan="2"><b>Start</b></td>
													<td rowspan="2"><b>End</b></td>
													<td rowspan="2"><b>Duration (h:m:s)</b></td>
													<td width="40%" colspan="3"><b>Stop position</b></td>
												</tr>
												<tr class="active" style="text-align:center">
													<td><b>Length</b></td>
													<td><b>Speed Hike</b></td>
													<td><b>Speed Avg</b></td>
												</tr>
												<tr ng-repeat="subdata in user.historyConsilated track by $index" style="text-align:center">
													<td ng-switch on="subdata.state">
														<span ng-switch-when="S">Idle</span>
														<span ng-switch-when="M">Moving</span>
														<span ng-switch-when="P">Parked</span>
													</td>
													<td>{{subdata.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
													<td>{{subdata.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
													<td>{{msToTime(subdata.duration)}}</td>
													<td ng-if="subdata.averageSpeed ==null" colspan="3">
														<p> {{subdata.address}} </p>
														<p ng-if="subdata.address == null"><img src="assets/imgs/loader.gif" align="middle"></p>
													</td>
													<td ng-if="subdata.latitude ==null">{{subdata.tripDistance}} Km</td>
													<td ng-if="subdata.latitude ==null">{{subdata.topSpeed}} Km</td>
													<td ng-if="subdata.latitude ==null">{{subdata.averageSpeed}} Km</td>
												</tr>
												
											</tbody>
											<tr ng-if="consoldateData.length==0 && consoldateData1.length==0" style="text-align: center">
													<td colspan="9" class="err"><h5>No Data Found! Choose some other date</h5></td>
											</tr>
											<tr ng-if="consoldateData1.length1!=0" style="text-align: center">
													<td colspan="9" class="err"><h5>{{consoldateData1[0].error}}</h5></td>
											</tr>
										
										</table>
								<!-- 
								<div id="hid">
									<div style="display: flex; width: 100%">
										<div style="float: center">
											Its  data intesive report. Its will take 20-30 seconds to display. Please click OK to continue.
										</div>
										<div id="ok">
											<span  ng-click="consoldate()">OK</span>
										</div>
										<div id="ok">
											<span>Cancel</span>
										</div>
									</div>
								</div> -->
								
						</div>
					</div>
					</div>
					<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      
			    </div>
			  </div>
			</div>
		    </tab>
		    <tab ng-show="conSitTabShow" heading="Consolidated Location & Site" active="siteTab" ng-click="consoldateTrip('trip')" id="tripTab">
			    <div class="box box-primary" ng-show="conSitTabShow">
	    			<div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
			        	<h5 class="box-title">Consolidated Location & Site</h5>
			            <div class="box-tools pull-right">
			                <!-- <a href="" target="_blank"><img src="../app/views/reports/image/Adobe.png" /></a> -->
			                <img style="cursor: pointer;" ng-click="exportData('consoledateTrip')"  src="../app/views/reports/image/xls.png" />
			            	<img width=30 height=30 style="cursor: pointer;" ng-click="exportDataCSV('consoledateTrip')"  src="../app/views/reports/image/csv.jpeg" />
			            </div>

			        </div> 
			    	<div class="row">
	            		<div class="col-xs-1" align="center"></div>
	    			
	    				<div class="col-md-2" align="center" >
	                    	<div class="form-group">
	                        	<div class="input-group datecomp">
	                                <input type="text" ng-model="fromDateSite" class="form-control placholdercolor" id="tripDatefrom" placeholder="From date">
	                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div></input>/ -->
	                        	</div>
	                      	</div>
	                    </div>
	                 <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp" >
                                          <input type="text" ng-model="fromTimeSite" class="form-control placholdercolor"  id="tripTimeFrom" placeholder="From time">
                                     <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                                   	</div>
		                      	</div>
		                      	
		                  </div>

		                  <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="toDateSite" class="form-control placholdercolor" id="tripDateTo" placeholder="To date">
		                           <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
		                       	</div>
		                      	</div>
		                   </div>

		                   <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="toTimeSite" class="form-control placholdercolor" id="tripTimeTo" placeholder="To time">
		                           <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
		                        	</div>
		                      	</div>
		                    </div>

		                    </div>

		                       <div class="row">
                                  <div class="col-md-1" align="center"></div>

                                  <div class="col-md-2" align="center">
                                      <div class="form-group">

                                      </div>
                                  </div>
                                </div>
                               <div class="row">
                                  <div class="col-md-1" align="center"></div>

                                  <div class="col-md-2" align="center">
                                  <div class="form-group">
                                  </div>
                               </div>
                         </div>
	                   <div class="row">

	                   <div class="col-xs-1" align="center"></div>
	    				<div class="col-xs-1" align="center"></div>

	                    <div class="col-md-2" align="center">
	                    	
	                    		<div class="form-group">
	                    		<label><input type="checkbox" ng-model="checkBox.site"><span style="font-size: 12px;padding:0 0 0 10px;font-weight: bold; ">Site</span></label></div>
	                    	
	                    </div>
	                    <div class="col-md-2" align="center">
	                    	<div class="form-group">
	                    		<label><input type="checkbox" ng-model="checkBox.loc"><span style="font-size: 12px;padding:0 0 0 10px;font-weight: bold; ">Location</span></label>
	                    	</div>
	                    </div>
	                   <div class="col-md-2" align="center">
	                    	<div class="form-group">
	                    		<div class="input-group datecomp">
	                       			 <button style="margin-left: -100%;" ng-click="consoldateTrip('tripButon')">Submit</button>
	                       		</div>
		                   	</div>
		                </div>

		                <div class="box-body" id="consoledateTrip">
		                	
		                	<div class="col-md-12">
		                		<hr>
		                		<table class="table table-striped table-bordered table-condensed table-hover">
		       						<tr style="text-align:center">
										<th style="text-align:center;background-color:#C2D2F2;" custom-sort order="'startTime'" sort="sort">Date &amp; Time</th>
										<th style="text-align:center;background-color:#C2D2F2;" custom-sort order="'vehicleName'" sort="sort">{{vehiLabel}} Name</th>
										<th style="text-align:center;background-color:#C2D2F2;" custom-sort order="'state'" sort="sort">State</th>
										<th style="text-align:center;background-color:#C2D2F2;" custom-sort order="'address'" sort="sort">Location</th>
										
										<!-- <th style="text-align:center;">Fuel Consume</th>
										<th style="text-align:center;">Temp Fuel</th>
										<th style="text-align:center;">Fuel From</th>
										<th style="text-align:center;">Fuel To</th>
										<th style="text-align:center;">Duration</th> -->
									</tr>
									<tr ng-repeat="tripVal in tripData.mulitple | orderBy:natural(sort.sortingOrder):sort.reverse" >
										<td style="text-align:center;">{{tripVal.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
										<td style="text-align:center;">{{tripVal.vehicleName}}</td>
										<td style="text-align:center;">{{tripVal.state}}</td>
										<td style="text-align:center;">{{tripVal.address}}</td>
										<!-- <td>{{tripVal.fuelConsume}}</td>
										<td>{{tripVal.tempFuelLitre}}</td>
										<td>{{tripVal.fuelFrom}}</td>
										<td>{{tripVal.fuelTo}}</td>
										<td>
											<div ng-if="tripVal.tduration==undefined">--</div>
											<div ng-if="tripVal.tduration!=undefined">{{msToTime(tripVal.tduration)}}</div>
											</td> -->
									</tr>
									<tr ng-if="tripData.mulitple.length==0 || tripData.mulitple==' ' || tripData.mulitple==null" align="center" >
									    <td ng-show="msgShow" colspan="4" class="err"><h5>No Data Found! Choose some other date.</h5></td>
										<td ng-hide="msgShow" colspan="4" class="err"><h5>{{tripDataErr[0].error}}</h5></td>

									</tr>
								</table>
		                	</div>
		                	
		                </div>
		            </div>
		        </div>
		    </tab>

<!--		  <tab heading="Site Location" active="newSiteTab" ng-click="siteLocFunc('newSiteTab')">
			    <div class="box box-primary">
	    			
	    			<div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
			        	<h5 class="box-title">Site Location</h5>
			            <div class="box-tools pull-right">
			           <!-- <a href="" target="_blank"><img src="../app/views/reports/image/Adobe.png" /></a> -->
<!--			            <img style="cursor: pointer;" ng-click="exportData('newSite')"  src="../app/views/reports/image/xls.png" />
			            	<img width=30 height=30 style="cursor: pointer;" ng-click="exportDataCSV('newSite')"  src="../app/views/reports/image/csv.jpeg" />
			            </div>
			        </div> 
			    	
			    	<div class="row">

	            		<div class="col-xs-1" align="center"></div>

	    				<div class="col-md-2" align="center" >
	                    	<div class="form-group">
	                        	<div class="input-group datecomp">
	                                <input type="text" ng-model="fromDateSite" class="form-control placholdercolor" id="tripDateFrom" placeholder="From date">
	                           <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div></input>/ -->
<!--	                      </div>
	                      	</div>
	                    </div>

	              		<div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp" >
                                          <input type="text" ng-model="fromTimeSite" class="form-control placholdercolor"  id="tripTimeFrom" placeholder="From time">
                                     <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
<!--                                   	</div>
		                      	</div>
		                      	
		                  </div>

		                  <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="toDateSite" class="form-control placholdercolor" id="tripDateTo" placeholder="To date">
		                           <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
<!--		                       	</div>
		                      	</div>
		                   </div>

		                   <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="toTimeSite" class="form-control placholdercolor" id="tripTimeTo" placeholder="To time">
		                           <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
<!--		                        	</div>
		                      	</div>
		                    </div>
	                   
	             
	                  <!--  <div class="col-md-2" align="center">	                    	
	                    		<div class="form-group">
	                    		<label><input type="checkbox" ng-model="checkBox.site">Site</label></div>
	                    </div>

	                    <div class="col-md-2" align="center">
	                    	<div class="form-group">
	                    		<label><input type="checkbox" ng-model="checkBox.loc">Location</label>
	                    	</div>
	                    </div>  -->

<!--	                   <div class="col-md-1" align="center">
	                    	<div class="form-group">
	                    		<div class="input-group datecomp">
	                       			<button style="margin-left: -100%;" ng-click="siteLocFunc('newSiteTab')">Submit</button>
	                       		</div>
		                   	</div>
		                </div>

		                <div class="box-body" id="newSite">
		                	
		                	<div class="col-md-12">
		                		<hr>
		                		 <table class="table table-striped table-bordered table-condensed table-hover" >
                                          
                                    <tbody ng-repeat="data in tripSiteLocData" >
                                      <tr style="text-align:center;height:30px;">
                                        <td colspan="3" style="font-size:13px;background-color:#C2D2F2;" ><b>Vehicle Name :{{data.vehicleName}}</b></td>
                                      </tr>
                                 <!-- <tr><td colspan="4" bgcolor="grey"></td><tr> -->
<!--                                      <tr>
                                        <td width="20%" style="font-size:12px;background-color:#ecf7fb;"><b>Date&Time</b></td>
                                        <td width="40%" style="font-size:12px;background-color:#ecf7fb;"><b>Site Name</b></td>
                                        <td width="20%" style="font-size:12px;background-color:#ecf7fb;"><b>Duration(h:m:s)</b></td>
                                       </tr>
                                     
                                      <tr ng-repeat="subdata in data.mulitple" style="padding-bottom:20px;">
                                         <td width="20%" >{{subdata.deviceTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                         <td width="40%" >{{subdata.siteName}}</td>
                                         <td width="20%" >{{msToTime(subdata.duration)}}</td>
                                      </tr>

                                      <tr ng-if="data.mulitple.length == 0 || data.mulitple==' ' || data.mulitple == null" style="text-align: center">
                                        <td colspan="3" class="err"><h5>No Data Found! Choose some other date</h5></td>
                                      </tr>

                                      <tr><td colspan="3" bgcolor="grey"></td><tr>
                                </tbody>
                            </table> 

		                	</div>
		                </div>
		            </div>
		        </div>
		    </tab>  -->

		    <tab ng-show="overTabShow" heading="Consolidated OverSpeed" active="overTab" ng-click="consOverspeed('ovr')">
			    <div class="box box-primary1" ng-show="overTabShow">
	    			<div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
			        	<h5 class="box-title">Consolidated OverSpeed</h5>
			            <div class="box-tools pull-right">
			                <!-- <a href="" target="_blank"><img src="../app/views/reports/image/Adobe.png" /></a> -->
			                <img style="cursor: pointer;" ng-click="exportData('consoledateOvrSpeed')"  src="../app/views/reports/image/xls.png" />
			            	<img width=30 height=30 style="cursor: pointer;" ng-click="exportDataCSV('consoledateOvrSpeed')"  src="../app/views/reports/image/csv.jpeg" />
			            </div>

			        </div> 
			    <div class="row">
		            		<div class="col-md-1" align="center"></div>
		    				<div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                                <input type="text" ng-model="fromdate2" class="form-control placholdercolor" id="ovrFrom" placeholder="From date">
		                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
		                        	</div>
		                      	</div>
		                    </div>
		                    <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp" >
                                            <input type="text" class="form-control placholdercolor" ng-model="fromTime2" id="ovrTimeFrom" placeholder="From time">
                                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                                    	</div>
		                      	</div>
		                      	
		                    </div>
		                    <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="todate2" class="form-control placholdercolor" id="ovrTo" placeholder="To date">
		                              	<!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
		                        	</div>
		                      	</div>
		                    </div>
		                    <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                        	<div class="input-group datecomp">
		                              	<input type="text" ng-model="toTime2" class="form-control placholdercolor" id="ovrTimeTo" placeholder="To time">
		                              	<!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
		                        	</div>
		                      	</div>
		                    </div>
		                   <div class="col-md-2" align="center">
		                    	<div class="form-group">
		                    		<div class="input-group datecomp">
		                       			 <button ng-click="consOverspeed('ovrButon')" style="margin-left: -100%;" >Submit</button>


		                       		</div>
		                    	</div>
		                    </div>
		                   
		               

                     <div class="box-body" id="consoledateOvrSpeed">
		                	
		                	<div class="col-md-12">
		                		<hr>
		                		  <table class="table table-striped table-bordered table-condensed table-hover" >
                                          
                                <tbody ng-repeat="data in ovrData" >
                                     <tr style="text-align:center;height:30px;">
                                        <td colspan="2" style="font-size:13px;background-color:#C2D2F2;" ><b>{{vehiLabel}} Name : {{data.shortName}}</b></td>
                                        <td  style="font-size:13px;background-color:#C2D2F2;"><b>Speed Limit : {{data.speedLimit}}</b></td>
                                        <td style="font-size:13px;background-color:#C2D2F2;"><b>Start Time : {{data.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</b></td>
                                        <td style="font-size:13px;background-color:#C2D2F2;"><b>End Time : {{data.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</b></td>
                                        
                                      </tr>

                                 <!-- <tr><td colspan="4" bgcolor="grey"></td><tr> -->
                                      <tr>
                                        <td width="20%" style="font-size:12px;background-color:#ecf7fb;"><b>Date&Time</b></td>
                                        <td width="10%" style="font-size:12px;background-color:#ecf7fb;"><b>OverSpeed</b></td>
                                        <td width="20%" style="font-size:12px;background-color:#ecf7fb;"><b>OverSpeed Duration (h:m:s)</b></td>
                                        <td width="35%" style="font-size:12px;background-color:#ecf7fb;"><b>Location</b></td>
                                        <td width="15%" style="font-size:12px;background-color:#ecf7fb;"><b>Odo</b></td>
                                  
                                      </tr>
                                     
                                      <tr ng-repeat="subdata in data.history" style="padding-bottom:20px;">
                                      <td width="20%" >{{subdata.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                       <td width="10%" >{{subdata.overSpeed}}</td>
                                       <td width="20%" >{{msToTime(subdata.overSpeedDuration)}}</td>
                                       <td width="35%" >{{subdata.location}}</td>
                                       <td width="15%" >{{subdata.odoMeter}}</td>
                                     
                                      </tr>

                                      <tr ng-if="data.history==null" style="text-align: center">
                                        <td colspan="5" class="err"><h5>{{data.error}}</h5></td>
                                      </tr>
                                      <tr><td colspan="5" bgcolor="grey"></td><tr>
                                </tbody>

                                     <tr ng-if="ovrData.length==0" style="text-align: center">
                                        <td colspan="5" class="err"><h5>No Data Found!</h5></td>
                                      </tr> 

                                   </table>                   
		                	</div>



		              </div>	
		           </div>

		          
		        </div>
		    </tab>
        </tabset>
    </div>

    <script src="assets/js/static.js"></script>
	<script src="assets/js/jquery-1.11.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
<!--<script src="assets/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="../app/views/reports/customjs/html5csv.js"></script>
   	<script src="../app/views/reports/customjs/moment.js"></script>
    <script src="../app/views/reports/customjs/FileSaver.js"></script>
    <script src="../app/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../app/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
<!--<script src="assets/js/naturalSortVersionDates.js"></script> -->
    <script src="assets/js/vamoApp.js"></script>
    <script src="../app/views/reports/customjs/reports.js"></script>
	
	<!-- script src="assets/js/custom.js"></script -->   
    <script>

    function googleTranslateElementInit() 
    {
		 new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
	}

	// $("#testLoad").load("../public/menu");
	// var logo =document.location.host;
 //    var imgName= '/vamo/public/assets/imgs/'+logo+'.small.png';
 //    $('#imagesrc').attr('src', imgName);
	    $("#example1").dataTable();
	      
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		
        $(function () {

        		$('#tripDatefrom, #tripDateTo').datetimepicker({
					format:'YYYY-MM-DD',
					useCurrent:true,
					pickTime: false,
					maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
				});
               
                $('#dateFrom, #dateTo, #tripfrom, #tripto, #ovrFrom, #ovrTo').datetimepicker({
					format:'YYYY-MM-DD',
					useCurrent:true,
					pickTime: false,
					maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
				});
				
				$('#timeFrom, #ovrTimeFrom, #timefromTrip, #tripTimeFrom').datetimepicker({
					pickDate: false,
				});
				
				$('#timeTo, #ovrTimeTo, #timetoTrip, #tripTimeTo').datetimepicker({
					pickDate: false,
				});

				$('#timefromTrip').datetimepicker({
					pickDate: false
				});

				$('#timetoTrip').datetimepicker({
					pickDate: false
				});
		});      
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

  </script>
    
 </body>
</html>
