<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/ui-drop/select.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="assets/css/bootstrap-select.css">

<style type="text/css">
  
  body{
    font-family: 'Lato', sans-serif;
  /*font-weight: bold;*/ 

  /*font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Faustina', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Droid Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
   */
} 

#btnGrp ul li {
   display: inline-block;
   list-style: none;
   padding-right: 40px;
}

#tripId ul li {
   display: inline-block;
   list-style: none;
}

#modalBody ul li{
  display: inline-block;
}

.ui-select-choices-row-inner{
  width: 178px!important;
}

.ui-select-bootstrap>.ui-select-match>.btn{
  width: 180px;
  height: 29.5px;
  padding: 3px 3px 3px 14px;
}

#vehiUiSel {
  float: left;
  margin-top: -40px;
  margin-left: 37.5%;
}

#tripUiSel{
  float: left;
  margin-top: -40px;
  margin-left: 21%;"
}

.table-stripeds > tbody > tr:nth-child(odd) > td, .table-stripeds > tbody > tr:nth-child(odd) > th {
    background-color: #fdfdfd;
}

.table-stripeds > tbody > tr > td{
    padding-top: 10px;
    padding-bottom: 10px;
}

#csvTable>tbody>tr>td, #csvTable>tbody>tr>th, #csvTable>tfoot>tr>td, #csvTable>tfoot>tr>th, #csvTable>thead>tr>td, #csvTable>thead>tr>th {
       padding-left: 40px;
}


</style>

</head>

<div id="status">&nbsp;</div>
<body ng-app = "mapApp">
    <div ng-controller = "mainCtrl" class="ng-cloak">
        <div id="wrapper-site">
            <div id="sidebar-wrapper-site" style="min-width:92px;">
                <ul class="sidebar-nav" ">
                    <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                    <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                    <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                    <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li>
                    <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                    <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                    <li class="fms"><a href="../public/fms"  class="active"><div></div><label>FMS</label></a></li>
                    <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
                </ul>

            </div>
            <div id="testLoad"></div>

        <div class="col-md-12" style="margin-top: 70px;margin-left: 8px;">

            <div id="notifyMsg">
                <div id="notifyS" class="alert alert-success"  style="text-align: center;width: 300px;padding: 7px 7px 7px 7px;margin-left: 33%;top: 5px;">
                      File uploaded successfully!
                </div>
                <div id="notifyF" class="alert alert-danger" style="text-align: center;width: 300px;padding: 7px 7px 7px 7px;margin-left: 33%;top: 5px;">
                      File upload failed!
                </div>
            </div>      
          
            <tabset class="nav-tabs-custom">

                    <ui-select ng-model="gName.selected" ng-change="groupSelection($select.selected.gName)" theme="bootstrap" ng-disabled="disabled" style="width: 180px;
                          font-size: 11px !important;
                          opacity: 0.8 !important;
                          z-index: 1;
                          float: right;
                          margin-right: 261px;
                          margin-top: 5px;">

                          <ui-select-match style="font-size:11px !important;" placeholder="Select Group">{{$select.selected.gName}}</ui-select-match>
                            <ui-select-choices   repeat="grp in grpList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="grp.gName | highlight: $select.gName"></span>
                            </ui-select-choices>
                    </ui-select>

              <tab  heading="Trip Upload"  active="true">
        
                  <div class="box box-primary"  style="min-height:550px;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f7f7f7;border-radius:3px;border: 0.7px solid #e0dfdf;border-radius: 5px;">

         
          <!--  <h4>Trip Sheet Upload</h4> -->
          <div id="btnGrp" class="box box-primary" style="width: 400px;height: 200px;margin-top: 50px;margin-left: 30%;border-radius: 5px;" ng-show="fileUploadsBox">
           
            <ul style="padding-top: 70px;padding-left: 18%;">
               <li>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Trip Upload</button>  </li>
               <li>  <button type="button" class="btn btn-primary" ng-click="tripSheetView()" >View Trip Sheet</button> </li>
                <!--<li>     <button type="button" class="btn btn-primary">Sony</button> </li> -->
              </ul>

          </div>

          <!--  <div style="margin-left:25%; margin-top: 100px;">
                  <form method="post" enctype="multipart/form-data">
                     <div>
                       <!-- <label for="file" style="color: #e64141;">Choose file to upload :</label> -->
              <!-- <input type="file" id="file" name="file" style="padding-top: 20px;padding-left: 30px;"> </div>
                     <div style="padding-top: 40px; padding-left: 40px;">
                       <button style="font-size: 12px; border-radius: 14px; color: #ffffff; background-color: #18bdda;" ng-click="submitFunction()">Submit</button>
                     </div>
                  </form>
              </div> -->

      <div class="box box-primary" style="margin-top: 28px;border-top-style:none;background-color:#f9f9f9;" ng-show="fileNameShow">

            <div class="col-md-6 boxing_size" style="margin-left: 10%;margin-top: 15px;" id="csvBox">
                <div class="box box-primary" style="margin-left: 10px" >
                       <div class="box-header">
                        <h5 class="box-title" style="color:green; font-size: 15px; margin-top: 5px; margin-left: 8px;">Trip Sheets</h5>
                        <!--<h5 style="color: red">{{error}}</h5>-->
                        <div class="box-tools" >
                            <span class="pull-right" style="margin-right: 10px; margin-top: 10px;"><input class="btn btn-xs btn-danger pull-right" style="background-color: #18bdda;border-color: #18bdda;" type="button" value="Back" ng-click="backUpload()"></span>
                        
                        </div>
                    </div>


            
                    <table class="table table-bordred table-hover" id="csvTable" style="margin-top: 10px;">
                        <thead>
                     <!--<tr><td style="font-size: 14px;">Customer Name :</td><td style="font-size: 14px;">{{data.customerName}}</td><td style="font-size: 14px;">Total Balance:</td><td style="font-size: 14px;">{{data.balanceAmount}}</td></tr> 
                          <tr style="padding-top: 10px;"> --> 
                            <th style="text-align: left;">S.No</th>
                            <th style="text-align: left;">File Name</th>
                            <th style="text-align: left;">View</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="file in fileData">
                            <tr>
                                <td style="text-align: left;">{{$index+1}}</td>
                                <td style="text-align: left;">{{file}}</td>
                                <td style="text-align: left;"><a href="http://www.gpsvts.net/gps/public/uploads/{{file}}">Click</a></td>
                            </tr>

                        </tbody>
                
                    </table>
                </div>
            </div>
       
      

      </div>

            <!-- modal -->
              <div class="modal fade" id="myModal" role="dialog" style="margin-top: 60px;">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">File Upload</h4>
                      </div>
                  <div class="modal-body" id="modalBody" style="padding: 25px 15px 25px 15px;">

                    <ul>
                      <li>
                        <ui-select ng-model="orgName.selected"  ng-change="orgFunction(orgName.selected)" theme="bootstrap" ng-disabled="disabled" style="width:180px;
                            font-size:11px !important;
                            opacity: 0.8 !important;
                            z-index:1;">

                            <ui-select-match style="font-size:11px !important;" placeholder="Organization Name">{{$select.selected.orgName}}</ui-select-match>

                            <ui-select-choices   repeat="org in orgList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="org.orgName | highlight: $select.orgName"></span>
                            </ui-select-choices>

                        </ui-select>
                      </li>
                      <li>
                          <form method="post" enctype="multipart/form-data" style="padding-left: 45px;">
                            <div>
                         <!-- <label for="file" style="color: #e64141;">Choose file to upload :</label> -->
                              <input type="file" id="file" name="file">
                            </div>
                          </form>
                      </li>
                    </ul>

                      </div>

                      <div class="modal-footer">
                          <button type="button" class="btn" id="btnHover" style="background-color: #18bdda;color:#fff;" ng-click="submitFunction()" data-dismiss="modal">Submit</button>
                     <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Back</button> -->
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
              </div> 

        </div>
      </tab>

      <tab  heading="Trip Search"  active="false" >
        <div class="box box-primary" id="tripId"  style="min-height:550px;overflow-x: auto;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f9f9f9;border-radius:3px;border: 0.7px solid #e0dfdf; ">
            
            <h4 ng-show="tripBaseShow">Trip Based Report</h4>
             <h4 ng-show="vehiBaseShow">Vehicle Based Report</h4>


                 <ul style=" margin-left: 36%;margin-top: 10px;" ng-show="tripBaseShow">
                   <li> 
                   <input id="tripSearchVal" type="text" name="tripNo" placeholder="Enter Trip No" style="font-size: 11px; color: grey; padding: 5.5px 15px 5.5px 10px;"> 
                        <button type="button" class="btn btn-primary" ng-click="tripBasedSubmit()" style="padding: 4px 10px 4px 10px;margin-left: 54px;margin-bottom: 0px;">Submit</button>  
                   </li>
                      <!-- <li> <button type="button" class="btn btn-primary">View Trip Sheet</button> </li> -->
                       <!--<li> <button type="button" class="btn btn-primary">Sony</button> </li> -->  
                  </ul>

                <ul style=" margin-left: 61%;margin-top: 10px;" ng-show="vehiBaseShow">
                      <li> 
                  <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                        <button type="button" class="btn btn-primary" ng-click="vehiBasedSubmit()" style="padding: 4px 10px 4px 10px;margin-left: 60px;margin-bottom: 1px;">Submit</button>  
                   </li>
                      <!-- <li> <button type="button" class="btn btn-primary">View Trip Sheet</button> </li> -->
                       <!--<li> <button type="button" class="btn btn-primary">Sony</button> </li> -->  
                </ul>



               <div id="tripUiSel" ng-show="backBtnShow">
                <ui-select ng-model="orgName.selected"  ng-change="orgFunction(orgName.selected)" theme="bootstrap" ng-disabled="disabled" style="width:180px;
                            font-size:11px !important;
                            opacity: 0.8 !important;
                            z-index:1;">

                            <ui-select-match style="font-size:11px !important;" placeholder="Organization Name">{{$select.selected.orgName}}</ui-select-match>

                            <ui-select-choices   repeat="org in orgList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="org.orgName | highlight: $select.orgName"></span>
                            </ui-select-choices>

                 </ui-select>   
               </div>
               
               <div id="vehiUiSel" ng-show="vehiBaseShow">
                 <ui-select  ng-model="vehiId.selected"  ng-change="vehiSelFunction(vehiId.selected)" theme="bootstrap" ng-disabled="disabled" style="width:180px;
                            font-size:11px !important;
                            opacity: 0.8 !important;
                            z-index:1;">

                            <ui-select-match style="font-size:11px !important;" placeholder="Vehicle Id">{{$select.selected.vehiId}}</ui-select-match>

                            <ui-select-choices   repeat="org in vehiList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="org.vehiId | highlight: $select.vehiId"></span>
                            </ui-select-choices>

               </ui-select>  
              </div>    

    <input ng-show="vehiBaseShow" type="text" class="form-control placholdercolor" id="dateFrom" style="width: 150px; height: 28px; padding: 0px 12px;font-size: 11px; margin-left: 54%;
    margin-top: -40px;" placeholder="Date & Time">  

  <!--  <button ng-show="backBtnShow" type="button" class="btn"  style="background-color:#de5a30;color:#fff;margin-top:-41px;float:right;margin-right: 150px;padding: 4px 10px 4px 10px;" onclick="$('.history_tab a').click();" ng-click="historySubmit()">History</button> -->  

          <button ng-show="backBtnShow" type="button" class="btn"  style="background-color:#18bdda;color: #fff;margin-top:-41px;float:right;margin-right:80px;padding: 4px 10px 4px 10px;" ng-click="backFunction()" >Back</button>


              <div id="btnGrp" class="box box-primary"  style="width: 400px;height: 200px;margin-top: 50px;margin-left: 30%;border-radius: 5px;" ng-show="tripSearchBox">
           
                     <ul style="padding-top: 70px;padding-left: 19%;">
                        <li>  <button type="button" class="btn btn-primary" ng-click="tripFunc()" >Trip Based</button>  </li>
                        <li>  <button type="button" class="btn btn-primary" ng-click="vehiFunc()">Vehicle Based</button> </li>
                   <!-- <li>     <button type="button" class="btn btn-primary">Sony</button> </li> -->
                     </ul>
              </div>

              <div class="box box-primary" style="margin-top: 28px;border-top-style:none;background-color:#f9f9f9;" ng-show="tripBaseShow">


               <h5 style="color:green; margin-left: 10px;">Vehicle Id : {{tripBaseData.vehicleId}} </h5>

                    <table class="table table-striped table-bordered table-condensed table-hover" >
                             
                             <thead>
                                      <tr>
                                        <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Date & Time</b></th>
                                        <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Gate Entry No</b></th>
                                        <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Delivery</b></th>
                                        <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Delivery Quality</b></th>
                                        <th width="20%" style="font-size:12px;background-color:#d5e8ef;"><b>Ward Description</b></th> 
                                        <th width="15%" style="font-size:12px;background-color:#d5e8ef;"><b>Trip Start Time</b></th> 
                                        <th width="15%" style="font-size:12px;background-color:#d5e8ef;"><b>Trip End Time</b></th> 
                                        <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>History</b></th>
                                      </tr>
                              </thead>    

                              <tbody>
                                    <tr ng-repeat="data in tripBaseData.getTripData" >
                                         <td>{{data.dateTime | date:'yyyy-MM-dd  h:mma'}}</td>
                                         <td>{{data.gateEntryNumber}}</td>
                                         <td>{{data.delivery}}</td>
                                         <td>{{data.deliveryQuality}}</td>
                                         <td>{{data.wardDescription}}</td>
                                         <td ng-if="data.startTime!=null">{{data.startTime | date:'yyyy-MM-dd  h:mma'}}</td>
                                         <td ng-if="data.startTime==null">-</td>
                                         <td ng-if="data.endTime!=null">{{data.endTime | date:'yyyy-MM-dd  h:mma'}}</td>
                                         <td ng-if="data.endTime==null">-</td>
                                         <td ng-if="data.startTime!=null && data.endTime!=null"><a href="http://gpsvts.net/gps/public/track?maps=replay&vehicleId={{tripBaseData.vehicleId}}&gid={{grpName}}&fromTime={{data.startTime}}&toTime={{data.endTime}}" target="_blank">Link</a></td>
                                           <td ng-if="data.startTime==null && data.endTime==null">-</td>
                                    </tr>
                                  
                              </tbody>

                        </table>

              </div>


              <div class="box box-primary" style="margin-top: 28px; border-top-style:none;background-color:#f9f9f9;" ng-show="vehiBaseShow">

                       <h5 style="color:green; margin-left: 10px;">Vehicle Id : {{vehiBaseData.vehicleId}} </h5>

                   
                        <table class="table table-striped table-bordered table-condensed table-hover">
                             
                             <thead>
                                      <tr>
                                         <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Date & Time</b></th>
                                         <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Gate Entry No</b></th>
                                         <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Delivery</b></th>
                                         <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Delivery Quality</b></th>
                                         <th width="20%" style="font-size:12px;background-color:#d5e8ef;"><b>Ward Description</b></th> 
                                         <th width="15%" style="font-size:12px;background-color:#d5e8ef;"><b>Trip Start Time</b></th> 
                                         <th width="15%" style="font-size:12px;background-color:#d5e8ef;"><b>Trip End Time</b></th> 
                                         <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>History</b></th>
                                      </tr>
                              </thead>    

                              <tbody>
                                    <tr ng-repeat="data in vehiBaseData.getTripData" >
                                         <td>{{data.dateTime | date:'yyyy-MM-dd  h:mma'}}</td>
                                         <td>{{data.gateEntryNumber}}</td>
                                         <td>{{data.delivery}}</td>
                                         <td>{{data.deliveryQuality}}</td>
                                         <td>{{data.wardDescription}}</td>
                                         <td ng-if="data.startTime!=null">{{data.startTime | date:'yyyy-MM-dd  h:mma'}}</td>
                                         <td ng-if="data.startTime==null">-</td>
                                         <td ng-if="data.endTime!=null">{{data.endTime | date:'yyyy-MM-dd  h:mma'}}</td>
                                         <td ng-if="data.endTime==null">-</td>
                                         <td ng-if="data.startTime!=null && data.endTime!=null"><a href="http://gpsvts.net/gps/public/track?maps=replay&vehicleId={{vehiBaseData.vehicleId}}&gid={{grpName}}&fromTime={{data.startTime}}&toTime={{data.endTime}}" target="_blank">Link</a></td> 
                                         <td ng-if="data.startTime==null && data.endTime==null">-</td>
                                     <!--<td><a href="http://puccagps.com/gps/public/track?maps=replay&vehicleId={{vehiBaseData.vehicleId}}&gid={{grpName}}&fromTime=1524820245000&toTime=1524831359000" target="_blank">Link</a></td>-->

                                    </tr>
                                  
                              </tbody>

                        </table>


              </div>
        </div>
      </tab>

     <tab  heading="Trip History" class="history_tab" active="false">
       <div class="box box-primary" id="tripId"  style="min-height:600px;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f9f9f9;border-radius:3px;border: 0.7px solid #e0dfdf; ">
            
            <h4>Trip History Report</h4>
        
                <ul style=" margin-left: 40%;margin-top: 10px;">
                      <li> 
                <input id="tripHisVal" type="text" name="tripNo" placeholder="Enter Trip No" style="font-size: 11px; color: grey; padding: 5px 15px 5px 10px;">
                        <button type="button" class="btn btn-primary" ng-click="tripHistoySubmit()" style="padding: 4px 10px 4px 10px;margin-left: 60px;margin-bottom: 2px;">Submit</button>  
                   </li>
                      <!-- <li> <button type="button" class="btn btn-primary">View Trip Sheet</button> </li> -->
                       <!--<li> <button type="button" class="btn btn-primary">Sony</button> </li> -->  
                </ul>

               <div style="float: left; margin-top: -41px; margin-left: 26%;">
                 <ui-select  ng-model="vehiId.selected"  ng-change="vehiHisFunc(vehiId.selected)" theme="bootstrap" ng-disabled="disabled" style="width:180px;
                            font-size:11px !important;
                            opacity: 0.8 !important;
                            z-index:1;">

                            <ui-select-match style="font-size:11px !important;" placeholder="Vehicle Id">{{$select.selected.vehiId}}</ui-select-match>

                            <ui-select-choices   repeat="org in vehiList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="org.vehiId | highlight: $select.vehiId"></span>
                            </ui-select-choices>

               </ui-select>  
              </div>    

   <!-- <input type="text" class="form-control placholdercolor" id="dateFrom" style="width: 150px; height: 28px; padding: 0px 12px; font-size: 11px; margin-left: 43%;
    margin-top: -40px;" placeholder="Date & Time">     -->

              <div class="box box-primary" style="margin-top: 12px;border-top-style: none;background-color: #f9f9f9;padding-top: 1px;">

                       <h5 style="color:green; margin-left: 10px;">Vehicle Id :&nbsp;&nbsp; {{tripHistData.vehicleId}} </h5>

                   
                        <table class="table table-striped table-bordered table-condensed table-hover table-stripeds" >
                             
                             <thead>
                                      <tr>
                                        <th width="15%" style="font-size:12px;background-color:#d5e8ef;"><b>Date & Time</b></th>
                                        <th width="15%" style="font-size:12px;background-color:#d5e8ef;"><b>Trip Distance</b></th>
                                        <th width="35%" style="font-size:12px;background-color:#d5e8ef;"><b>Address</b></th>
                                        <th width="15%" style="font-size:12px;background-color:#d5e8ef;"><b>Odo</b></th>
                                        <th width="10%" style="font-size:12px;background-color:#d5e8ef;"><b>Speed</b></th> 
                                        <th width="20%" style="font-size:12px;background-color:#d5e8ef;"><b>G-Map</b></th> 
                                      </tr>
                              </thead>    

                              <tbody>
                                    <tr ng-repeat="data in tripHistData.vehicleLocations">
                                         <td style="font-size:10.5px;">{{data.date | date:'yyyy-MM-dd'}} &nbsp;&nbsp; {{data.date | date:'h:mma'}}</td>
                                         <td style="font-size:10.5px;">{{data.tripDistance}}</td>
                                         <td style="font-size:10.5px;">{{data.address}}</td>
                                         <td style="font-size:10.5px;">{{data.odoDistance}}</td>
                                         <td style="font-size:10.5px;">{{data.speed}}</td>
                                         <td style="font-size:10.5px;"><a href="https://www.google.com/maps?q=loc:{{data.latitude}},{{data.longitude}}" target="_blank">Link</a></td>
                                    </tr>
                                  
                              </tbody>

                        </table>


              </div>
        </div>
      </tab>

    </tabset> 

    </div>
  </div>
</div>
         
<!--<script src="assets/js/static.js"></script>
    <script src="assets/js/jquery-1.11.0.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../app/views/reports/customjs/moment.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script> -->

    <script src="assets/js/static.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
<!--<script src="assets/js/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <script src="../app/views/reports/customjs/moment.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
    <script src="assets/ui-drop/select.min.js"></script>
    <script src="../app/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../app/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/fmsNew.js"></script>

   <script type="text/javascript">
        
    $(document).ready(function() {  
      $(".selectpicker").selectpicker();
    });

     $(function () {
                $('#dateFrom').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false
                });
      }); 

  </script>

</body>
</html>
