<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/ui-drop/select.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="assets/css/bootstrap-select.css">

<style type="text/css">
  
  body{
    font-family: 'Lato', sans-serif;
  /*font-weight: bold;*/ 

  /*font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Faustina', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Droid Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
   */
} 

#btnGrp ul li {
   display: inline-block;
   list-style: none;
   padding-right: 40px;
}

#tripId ul li {
   display: inline-block;
   list-style: none;
}

#modalBody ul li{
  display: inline-block;
}

.ui-select-choices-row-inner{
  width: 178px!important;
}

.ui-select-bootstrap>.ui-select-match>.btn{
  width: 180px;
  height: 29.5px;
  padding: 3px 3px 3px 14px;
}

#vehiUiSel {
  float: left;
  margin-top: -40px;
  margin-left: 37.5%;
}

#tripUiSel{
  float: left;
  margin-top: -40px;
  margin-left: 21%;"
}

.table-stripeds > tbody > tr:nth-child(odd) > td, .table-stripeds > tbody > tr:nth-child(odd) > th {
    background-color: #fdfdfd;
}

.table-stripedds > tbody > tr:nth-child(odd) > td, .table-stripedds > tbody > tr:nth-child(odd) > th {
    background-color: #fdfdfd;
}

.table-stripeds > tbody > tr > td{
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-stripedds > tbody > tr > td{
    padding-top: 8px;
    padding-bottom: 8px;
}

#csvTable>tbody>tr>td, #csvTable>tbody>tr>th, #csvTable>tfoot>tr>td, #csvTable>tfoot>tr>th, #csvTable>thead>tr>td, #csvTable>thead>tr>th {
       padding-left: 40px;
}


</style>

</head>

<div id="status">&nbsp;</div>
<body ng-app = "mapApp">
    <div ng-controller = "mainCtrl" class="ng-cloak">
        <div id="wrapper-site">
            <div id="sidebar-wrapper-site" style="min-width:92px;">
                <ul class="sidebar-nav" ">
                    <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                    <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                    <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                    <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li>
                    <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                    <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                    <li class="fms"><a href="../public/fms"  class="active"><div></div><label>FMS</label></a></li>
                    <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
                </ul>

            </div>
            <div id="testLoad"></div>

        <div class="col-md-12" style="margin-top: 70px;margin-left: 8px;">

            <div id="notifyMsg">
                <div id="notifyS" class="alert alert-success"  style="text-align: center;width: 300px;padding: 7px 7px 7px 7px;margin-left: 33%;top: 5px;">
                      File uploaded successfully!
                </div>
                <div id="notifyF" class="alert alert-danger" style="text-align: center;width: 300px;padding: 7px 7px 7px 7px;margin-left: 33%;top: 5px;">
                      File upload failed!
                </div>
            </div>      
          
            <tabset class="nav-tabs-custom">

                    <ui-select ng-model="gName.selected" ng-change="groupSelection($select.selected.gName)" theme="bootstrap" ng-disabled="disabled" style="width: 180px;
                          font-size: 11px !important;
                          opacity: 0.8 !important;
                          z-index: 1;
                          float: right;
                          margin-right: 261px;
                          margin-top: 5px;">

                          <ui-select-match style="font-size:11px !important;" placeholder="Change Group">{{$select.selected.gName}}</ui-select-match>
                            <ui-select-choices   repeat="grp in grpList | filter: $select.search" style="overflow-x:auto;font-size:12px !important;">
                              <span ng-bind="grp.gName | highlight: $select.gName"></span>
                            </ui-select-choices>
                    </ui-select>

          <tab  heading="Dashboard"  active="true" ng-click="tabChange('dash')">
        
              <div class="box box-primary"  style="min-height:550px;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f7f7f7;border-radius:3px;border: 0.7px solid #e0dfdf;border-radius: 5px;">

                 
                  <!--  <h4>Trip Sheet Upload</h4> -->
                  <div id="btnGrp" class="box box-primary" style="width: 90%;height: 100px;margin-top: 40px;  margin-left: 60px; border-radius: 8px;" >
                   
                    <ul style="padding-top: 30px;padding-left: 80px;">
                       <li>  <button type="button" class="btn btn-primary" >Total Vehicle in Transit</button>  </li>
                       <li>  <button type="button" class="btn btn-primary" >Vehicle Running on Time</button> </li>
                       <li>  <button type="button" class="btn btn-primary"  >Vehicles running with delay</button>  </li>
                       <li>  <button type="button" class="btn btn-primary"  >Vehicles yet to move from plant</button> </li>
                       <li>  <button type="button" class="btn btn-primary" >Stopped Vehicles</button>  </li>
                    
                        <!--<li>     <button type="button" class="btn btn-primary">Sony</button> </li> -->
                      </ul>

                  </div>

                      <div class="box box-primary" style="margin-top: 28px; border-top-style:none;background-color:#f9f9f9;" >


                   
                        <table class="table table-striped table-bordered table-condensed table-hover table-stripeds">
                             
                             <thead>
                                      <tr>
                                         <th rowspan="2" class="id" custom-sort order="'Zone'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Zone</b></th>
                                         <th rowspan="2" class="id" custom-sort order="'RO'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>RO</b></th>
                                         <th rowspan="2" class="id" custom-sort order="'AO'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>AO</b></th>
                                         <th rowspan="2" class="id" custom-sort order="'ShipmentQty'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Shipment Qty</b></th>
                                         <th rowspan="2" class="id" custom-sort order="'Dealer'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Dealer</b></th> 
                                         <th rowspan="2" class="id" custom-sort order="'Month'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Month</b></th> 
                                         <th rowspan="2" class="id" custom-sort order="'Transporter'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Transporter</b></th> 
                                         <th colspan="2" style="font-size:12px;background-color:#d5e8ef;"><b>Transit</b></th> 
                                         <th colspan="2" style="font-size:12px;background-color:#d5e8ef;"><b>Delivery</b></th> 

                                         </tr>
                                         <tr>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Ontime</b></th>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Delay</b></th>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Ontime</b></th>
                                         <th style="font-size:12px;background-color:#d5e8ef;"><b>Delay</b></th>
                                        </tr>
                                     
                              </thead>    

                              <tbody>
                                    <tr ng-repeat="data in dummyData | orderBy:natural(sort.sortingOrder):sort.reverse">
                                         <td>{{data.Zone}}</td>
                                         <td>{{data.RO}}</td>
                                         <td>{{data.AO}}</td>
                                         <td>{{data.ShipmentQty}}</td>
                                         <td>{{data.Dealer}}</td>
                                         <td>{{data.Month}}</td>
                                         <td>{{data.Transporter}}</td>
                                         <td>-</td>
                                         <td>-</td>
                                         <td>-</td>
                                         <td>-</td>
                                    </tr>
                              </tbody>

                        </table>


              </div>

   

            </div>
      </tab>

      <tab heading="Report"  active="false" ng-click="tabChange('report')">
        <div class="box box-primary" style="min-height:550px;overflow-x: auto;overflow-x: auto;position:relative;padding-right:15px;padding-left:15px;background-color:#f9f9f9;border-radius:3px;border: 0.7px solid #e0dfdf; ">
    

            <h4 class="modal-title" style="margin-top: 18px; margin-left: 5px;">Sales Admin Report</h4>

              <div class="box box-primary" style="margin-top: 15px;border-top-style:none;background-color:#f9f9f9;" >

                    <table class="table table-striped table-bordered table-condensed table-hover table-stripedds">
                        <thead>
                            <tr>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Invoice no </b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Chassis no </b></th>
                              <th class="id" custom-sort order="'vehicleName'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Engine no</b></th>
                              <th class="id" custom-sort order="'dispatchTime'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Despatch date </b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Orgin </b></th> 
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Destination</b></th> 
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>AO</b></th> 
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>RO</b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Zone</b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Transporter</b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Dealer </b></th>
                              <th style="font-size:12px;background-color:#d5e8ef;"><b>Location (G-Map)</b></th>
                              <th class="id" custom-sort order="'totalDistance'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Total Dist</b></th> 
                              <th class="id" custom-sort order="'day'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Day</b></th> 
                              <th class="id" custom-sort order="'kmsCovered'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>KMs covered</b></th> 
                              <th class="id" custom-sort order="'balanceCovered'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Balance to Cover</b></th>
                              <th class="id" custom-sort order="'status'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>Status</b></th> 
                              <th class="id" custom-sort order="'expectedHours'" sort="sort" style="font-size:12px;background-color:#d5e8ef;"><b>ETA</b></th>
                            </tr>
                        </thead>    

                              <tbody  ng-repeat="data in fmsData | orderBy:natural(sort.sortingOrder):sort.reverse">
                                     
                                      <tr>
                                         <td>ALY{{$index+1}}</td>
                                         <td>ALY0{{$index+11}}</td>
                                         <td>{{data.vehicleName}}</td>
                                         <td>{{data.dispatchTime | date:'yyyy-MM-dd'}}</td>
                                         <td>{{data.source}}</td>
                                         <td>{{data.destination}}</td>
                                         <td>2</td>
                                         <td>3</td>
                                         <td>CHENNAI</td>
                                         <td>ALY</td>
                                         <td>SMP</td>
                                         <td><a href="https://www.google.com/maps?q=loc:{{gMapLink1(data.latlng)}},{{gMapLink2(data.latlng)}}" target="_blank">Link</a></td>
                                         <td>{{data.totalDistance}}</td>
                                         <td>{{data.day}}</td>
                                         <td>{{data.kmsCovered}}</td>
                                         <td>{{data.balanceCovered}}</td>
                                         <td>{{data.status}}</td>
                                         <td>{{data.expectedHours}}</td>
                                    </tr>
                                  
                              </tbody>

                        </table>

              </div>
        </div>
      </tab>

    </tabset> 

    </div>
  </div>
</div>
         


    <script src="assets/js/static.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
<!--<script src="assets/js/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <script src="../app/views/reports/customjs/moment.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
    <script src="assets/ui-drop/select.min.js"></script>
    <script src="../app/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../app/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/fmsReport2.js"></script>

   <script type="text/javascript">
        
    $(document).ready(function() {  
      $(".selectpicker").selectpicker();
    });

     $(function () {
          $('#dateFrom').datetimepicker({
              format:'YYYY-MM-DD',
              useCurrent:true,
              pickTime: false
          });
      }); 

  </script>

</body>
</html>
