<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../app/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="../app/views/reports/datepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>
<style>
/*  .box > .loading-img {
           z-index: 1020;
           background: transparent url('assets/imgs/status.gif') 50% 50% no-repeat;
    }  */
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #ffffff;
}

body{
font-family: 'Lato', sans-serif;
/*font-weight: bold;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Faustina', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
}
.col-md-12 {
    width: 99.5%;
    margin-left: 8px;
}
</style>
<body ng-app="mapApp">
    <div id="wrapper" ng-controller="histCtrl" class="ng-cloak">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" class="active"><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav" style="overflow-y: auto;">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
                <li ng-repeat="location in locations track by $index | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
                  <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                   <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" ng-class="{active:vehiname ==loc.vehicleId}"><a href="history?vid={{loc.vehicleId}}&vg={{location.group}}" ng-class="{active: $index == selected, red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)">
           
              <!-- <img ng-hide="vehiImage" ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/> -->
                   <img ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                   <img ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                   <span>{{loc.shortName}}</span></a>
                   
                   </li>
                  </ul>
                </li>
            </ul>
        </div>
        <div id="testLoad"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                </div>          
            </div>
        <!-- /#page-content-wrapper -->
        </div>

        <div ng-show="reportBanShow" class="modal fade" id="allReport" role="dialog" style="top: 100px">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-body">
                            <p class="err" style="text-align: center;"> You are not a premium user !... </p>
                        </div>
                </div>
            </div>
        </div> 

        <div ng-show="reportBanShow" class="col-md-10" >
            <div class="box box-primary" style="height:90px; padding-top:30px; margin-top:5%; margin-left:8%;">
                <p ><h5 class="err" style="text-align: center;"> No Reports Found! </h5></p>
            </div>
        </div>
 
    <!-- AdminLTE css box-->
          <div class="col-md-12" ng-hide="reportBanShow">
            <div class="box box-primary">
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                    <h3 class="box-title">History Reports </h3>
                    <div class="box-tools pull-right">
                               <span class="pull-right"><a href="reports"><input class="btn btn-xs btn-danger pull-right" type="button" value="Reports"></a></span>        
                    </div>
                    <div ng-hide="true" class="box-tools pull-right">
                        <a href="downloadhistory?vid={{id}}&rid={{downloadid}}" target="_blank"><img src="../app/views/reports/image/Adobe.png" /></a>
                        <img style="cursor: pointer;" ng-click="exportData(downloadid)"  src="../app/views/reports/image/xls.png" />
                    </div>
                </div>
                        <div class="row">
                                <div class="col-md-2" align="center">
                                    <div class="form-group" ng-if="shortNam!=undefined || shortNam!=null">
                                        <h5 style="color: grey;">{{shortNam}}</h5>
                                    </div>
                                    <div class="form-group" ng-if="shortNam==undefined || shortNam==null">
                                        <h5 style="color: red;">{{vehiLabel}} not found </h5>
                                    </div>
                                </div>
                                <div class="col-md-2" align="center">
                                    <div class="form-group">
                                        <div class="input-group datecomp">
                                            <input type="text" ng-model="fromdate" class="form-control placholdercolor" id="dateFrom" placeholder="From date">
                                            <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" align="center">
                                    <div class="form-group">
                                        <div class="input-group datecomp">
                                            <input type="text" ng-model="fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" align="center">
                                    <div class="form-group">
                                        <div class="input-group datecomp">
                                            <input type="text" min-date="fromdate" ng-model="todate" class="form-control placholdercolor" id="dateTo" placeholder="To date">
                                            <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" align="center">
                                    <div class="form-group">
                                        <div class="input-group datecomp">
                                            <input type="text" ng-model="totime" class="form-control placholdercolor" id="timeTo" placeholder="To time">
                                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-md-1" align="center">
                                    <div class="form-group">
                                        <div class="input-group datecomp">
                                            <select ng-change="intervalChange()" class="input-sm form-control" ng-model="interval">
                                                 <option value="">Interval</option>
                                                 <option label="1 mins">1</option>
                                                 <option label="2 mins">2</option>
                                                 <option label="5 mins">5</option>
                                                 <option label="10 mins">10</option>
                                                 <option label="15 mins">15</option>
                                                 <option label="30 mins">30</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> 
                       
                               
                                <div class="col-md-1" align="center">
                                   <div class="form-group">
                                       <button ng-click="plotHist()" style="margin-left: -30%; margin-top: 2px;">Submit</button>
                                    </div>
                                </div>
                        </div>

                <div class="box-body" ng-class="overallEnable?'col-md-9':'col-md-12'" id="statusreport">
                     <!-- Tabset -->
                     <tabset class="nav-tabs-custom">
                          <tab ng-show="tabMovementShow" select="alertMe('All')" heading="All" active="tabAll" >
                             <p style="margin:0" class="page-header"> All <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div id='movementreport' class="box-body table-responsive">
                             <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th colspan="2" style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                        <th style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                        <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th>                 
                                    </tr>
                                    <tr style="text-align:center;">
                                        <th colspan="2" style="background-color:#f9f9f9;">Regn No</th>
                                        <th colspan="2" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.regNo}}</th>
                                        <th style="background-color:#f9f9f9;">Trip Distance</th>
                                        <th colspan="3" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.tripDistance}} Kms</th>
                                    </tr>
                                    <tr ng-if="vehiAssetView" style="text-align:center;">
                                        <th colspan="2" style="background-color:#ecf7fb;">Opening OdoReading</th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.openingOdoReading}}</th>
                                        <th style="background-color:#ecf7fb;">Closing OdoReading</th>
                                        <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.closingOdoReading}}</th>
                                    </tr>
                                    <tr ng-hide="true" style="text-align:center;" >
                                        <td colspan="2"><b>From Date</b></td>
                                        <td>{{fromdate}}</td>
                                        <td colspan="1"><b>From Time</b></td>
                                        <td colspan="3">{{fromtime}}</td>   
                                    </tr>
                                    <tr ng-hide="true" style="text-align:center;">
                                        <td colspan="2"><b>To Date</b></td>
                                        <td>{{todate}}</td>
                                        <td colspan="1"><b>To Time</b></td>
                                        <td colspan="3">{{totime}}</td>
                                    </tr>
                                   </thead>
                                   </table>
                                   <div class="col-md-12" style="height: 15px;"></div>
                                <!--    <tr><td colspan="8"></td></tr> -->
                                    <table class="table table-bordered table-striped table-condensed table-hover"> 
                                    <thead>
                                    <tr style="text-align:center">
                                    <th width="12%" class="id" custom-sort order="'date'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Date&amp;Time</th>
                                        <th width="8%" class="id" custom-sort order="'speed'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Speed</th>
                                   <!-- <th width="6%" class="id" custom-sort order="'gsmLevel'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                        <th width="10%" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Lat&Long</th>
                                        <th width="6%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                        <th width="28%" class="id" custom-sort order="'address'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                        <th width="8%" class="id" custom-sort order="'tmpDistance'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Dist</th>
                                        <th width="12%" class="id" custom-sort order="'distanceCovered'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">C-Dist (Kms)</th>
                                    <th ng-if="vehiAssetView" width="10%" class="id" custom-sort order="'odoDistance'" sort="sort"  style="text-align:center;height:3px;background-color:#d3e0f1;font-size:12px;">Odo (Kms)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="all in allData | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">
                                        <td>{{all.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{all.speed}}</td>
                                   <!-- <td>{{move.gsmLevel}}</td> -->
                                        <td>{{all.latitude}},{{all.longitude}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{all.latitude}},{{all.longitude}}" target="_blank">Link</a></td>
                                        <td>
                                            <p ng-if="all.address!=null">{{all.address}}</p>
                                            <p ng-if="all.address==null && maddress1[$index]!=null">{{maddress1[$index]}}</p>
                                            <p ng-if="all.address==null && maddress1[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <!-- <td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && maddress[$index]==null">Click Me</td> -->
                                        <!-- <td get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && maddress1[$index]!=null">{{maddress1[$index]}}</td> -->
                                        <td>{{all.tmpDistance}}</td>
                                        <td>{{all.distanceCovered}}</td>
                                        <td ng-if="vehiAssetView">{{all.odoDistance}}</td>
                                    </tr>   
                                    <tr ng-if="errMsg == null " align="center" ng-show="showErrMsg">
                                        <td ng-if="allData == null || allData.length==0" colspan="8" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="10" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                            </table>
                            <!-- <pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="movementdata.length" ng-model="currentPage" ng-change="pageChanged()"></pagination>  
                             -->
                             </div>
                         </tab> 


                        <tab ng-show="tabMovementShow" select="alertMe('Movement')" heading="Movement" active="tabmovement" >
                             <p style="margin:0" class="page-header">Movement Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div id='movementreport' class="box-body table-responsive">
                             <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th colspan="2" style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                        <th style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                        <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th>                 
                                    </tr>
                                    <tr style="text-align:center;">
                                        <th colspan="2" style="background-color:#f9f9f9;">Regn No</th>
                                        <th colspan="2" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.regNo}}</th>
                                        <th style="background-color:#f9f9f9;">Trip Distance</th>
                                        <th colspan="3" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.tripDistance}} Kms</th>
                                    </tr>
                                    <tr ng-if="vehiAssetView" style="text-align:center;">
                                        <th colspan="2" style="background-color:#ecf7fb;">Opening OdoReading</th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.openingOdoReading}}</th>
                                        <th style="background-color:#ecf7fb;">Closing OdoReading</th>
                                        <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.closingOdoReading}}</th>
                                    </tr>
                                    <tr ng-hide="true" style="text-align:center;" >
                                        <td colspan="2"><b>From Date</b></td>
                                        <td>{{fromdate}}</td>
                                        <td colspan="1"><b>From Time</b></td>
                                        <td colspan="3">{{fromtime}}</td>   
                                    </tr>
                                    <tr ng-hide="true" style="text-align:center;">
                                        <td colspan="2"><b>To Date</b></td>
                                        <td>{{todate}}</td>
                                        <td colspan="1"><b>To Time</b></td>
                                        <td colspan="3">{{totime}}</td>
                                    </tr>
                                   </thead>
                                   </table>
                                   <div class="col-md-12" style="height: 15px;"></div>
                                <!--    <tr><td colspan="8"></td></tr> -->
                                    <table class="table table-bordered table-striped table-condensed table-hover"> 
                                    <thead>
                                    <tr style="text-align:center" >
                                    <th width="12%" class="id" custom-sort order="'date'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Date&amp;Time</th>
                                        <th width="8%" class="id" custom-sort order="'speed'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Speed</th>
                                   <!-- <th width="6%" class="id" custom-sort order="'gsmLevel'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                        <th width="10%" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Lat&Long</th>
                                        <th width="6%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                        <th width="28%" class="id" custom-sort order="'address'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                        <th width="8%" class="id" custom-sort order="'tmpDistance'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Dist</th>
                                        <th width="12%" class="id" custom-sort order="'distanceCovered'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">C-Dist (Kms)</th>
                                    <th  ng-if="vehiAssetView" width="10%" class="id" custom-sort order="'odoDistance'" sort="sort"  style="text-align:center;height:3px;background-color:#d3e0f1;font-size:12px;">Odo (Kms)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="move in movementdata | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">
                                        <td>{{move.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{move.speed}}</td>
                                   <!-- <td>{{move.gsmLevel}}</td> -->
                                        <td>{{move.latitude}},{{move.longitude}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{move.latitude}},{{move.longitude}}" target="_blank">Link</a></td>
                                        <td>
                                            <p ng-if="move.address!=null">{{move.address}}</p>
                                            <p ng-if="move.address==null && maddress1[$index]!=null">{{maddress1[$index]}}</p>
                                            <p ng-if="move.address==null && maddress1[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <!-- <td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && maddress[$index]==null">Click Me</td> -->
                                        <!-- <td get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && maddress1[$index]!=null">{{maddress1[$index]}}</td> -->
                                        <td>{{move.tmpDistance}}</td>
                                        <td>{{move.distanceCovered}}</td>
                                        <td ng-if="vehiAssetView">{{move.odoDistance}}</td>
                                    </tr>   
                                    <tr ng-if="errMsg == null " align="center" ng-show="showErrMsg">
                                        <td ng-if="movementdata == null || movementdata.length==0" colspan="8" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="10" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                            </table>
                            <!-- <pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="movementdata.length" ng-model="currentPage" ng-change="pageChanged()"></pagination>  
                             --></div>
                         </tab>
                         <tab ng-show="tabOverspeedShow" select="alertMe('Overspeed')" heading="Overspeed" active="taboverspeed">
                             <p style="margin:0" class="page-header">Overspeed Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div class="box-body table-responsive" id='overspeedreport'>
                             <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                    <tr style="text-align:center;" >
                                        <th colspan="2" style="background-color:#ecf7fb;"><b>{{vehiLabel}} Group</b></th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                        <th colspan="2" style="background-color:#ecf7fb;"><b>{{vehiLabel}} Name</b></th>
                                        <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                    </tr>
                                    <tr style="text-align:center;">
                                        <th colspan="2" style="background-color:#f9f9f9;"><b>Speed Limit</b></th>
                                        <th colspan="2" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.overSpeedLimit}} Kmph</th>
                                        <th colspan="2" style="background-color:#f9f9f9;"><b>Overspeed Count</b></th>
                                        <th style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.overSpeedInstances}}</th>
                                    </tr>
                                    
                                    <tr ng-hide="true" style="text-align:center; font-weight: bold;" >
                                        <th colspan="3"><b>From Date</b></th>
                                        <th>{{fromdate}}</th>
                                        <th colspan="2"><b>From Time</b></th>
                                        <th>{{fromtime}}</th>   
                                    </tr>
                                    <tr ng-hide="true" style="text-align:center; font-weight: bold;">
                                        <th colspan="3"><b>To Date</b></th>
                                        <th>{{todate}}</th>
                                        <th colspan="2"><b>To Time</b></th>
                                        <th>{{totime}}</th>
                                    </tr>
                                </thead>
                                </table> 
                                <div class="col-md-12" style="height: 15px;"></div>   
                                <!-- <tr><td colspan="8"></td></tr> -->
                                 <table class="table table-bordered table-striped table-condensed table-hover">
                                 <thead>
                                    <tr> 
                                        <th width="12%" class="id" custom-sort order="'date'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Date&amp;Time</th>
                                        <th width="12%" class="id" custom-sort order="'speed'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Speed (Km)</th>
                                        <th width="15%" class="id" custom-sort order="'movingTime'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Duration (h:m:s)</th>
                                        <th width="7%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                  <!--  <th width="7%" class="id" custom-sort order="'gsmLevel'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                        <th width="26%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                        <!-- <th ng-hide="true" class="id" sort="sort" style="text-align:center;">Over Speed</th> -->
                                        <th ng-if="vehiAssetView" width="12%" class="id" custom-sort order="'odoDistance'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Odo (Km)</th>
                                        <th width="13%" class="id" custom-sort order="'tripDistance'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Trip (Km)</th>
                                        <!-- <th ng-hide="true" width="10%" colspan="2" class="id" order="''" style="text-align:center;">G-Map</th> -->
                                    </tr>
                                   </thead>
                                        <tr ng-repeat="user in overspeeddata | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">
                                        <td>{{user.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{user.speed}}</td>
                                        <td>{{msToTime(user.movingTime)}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>
                                   <!-- <td>{{user.gsmLevel}}</td> -->
                                        <td>
                                            <p ng-if="user.address!=null">{{user.address}}</p>
                                            <p get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && oaddress[$index]!=null">{{oaddress[$index]}}</p>
                                            <p ng-if="user.address==null && oaddress[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <!-- <td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && oaddress[$index]==null">Click Me</td>
                                        <td get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && oaddress[$index]!=null">{{oaddress[$index]}}</td> -->
                                        <!-- <td ng-hide="true">{{user.isOverSpeed}}</td> -->
                                        <td ng-if="vehiAssetView">{{user.odoDistance}}</td>
                                        <td>{{user.tripDistance}}</td>
                                        <!-- <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>  -->            </tr>
                                    <tr ng-if="errMsg == null" align="center" ng-show="showErrMsg">
                                        <td ng-if="overspeeddata==null || overspeeddata.length == 0" colspan="8" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </table>
                            </div>
                         </tab>
                         
                         <tab ng-show="tabParkedShow" select="alertMe('Stopped/Parked')" heading="Parked" active="tabparked">
                             <p style="margin:0" class="page-header">Parked Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span>
                             </p>
                            <div class="form-group pull-right" style="float: right;padding-right: 20px;margin-top: 7px;margin-bottom: 7px;">
                            <span style="font-size: 14px;">
                                    <select ng-model="time_park" ng-change="filtersTime(time_park,'park')" style="padding:3px 3px 3px 3px; font-size: 12px;width:100px;">
                                        <option value="All"> All </option>
                                        <option value="1">  >  1 min </option>
                                        <option value="2">  >  2 mins </option>
                                        <option value="5">  >  5 mins </option>
                                        <option value="10"> > 10 mins </option>
                                        <option value="15"> > 15 mins </option>
                                        <option value="30"> > 30 mins </option>
                                        <option value="100"> > 1 hour </option>
                                    </select>
                              </span>
                            </div>

                            <div class="box-body table-responsive" id='stoppedparkingreport' style="padding-top:10px;">
                             <table class="table table-bordered  table-striped table-condensed table-hover">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th colspan="1" style="background-color:#ecf7fb;"><b>{{vehiLabel}} Group</b></th>
                                        <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                        <th colspan="1" style="background-color:#ecf7fb;"><b>{{vehiLabel}} Name</b></th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th>
                                   <!-- <td ng-hide="true" colspan="2"><b>Register No</b></td>
                                        <td ng-hide="true">{{hist.regNo}}</td>   -->            
                                    </tr>
                                    </thead>
                                    </table>
                                    <div class="col-md-12" style="height: 15px;"></div>
                                 <!-- <tr><td colspan="5"></td></tr>-->
                                    <table class="table table-bordered  table-striped table-condensed table-hover">
                                    <thead>
                                      <tr style="text-align:center;font-weight: bold;">
                                        <th width="14%" custom-sort order="'date'" sort="sort" style="text-align:center;background-color:#C2D2F2;background-color:#d3e0f1;font-size:12px;">Start</th>
                                        <th width="14%" custom-sort order="'date'" sort="sort" style="text-align:center;background-color:#C2D2F2;background-color:#d3e0f1;font-size:12px;">End</th>
                                   <!-- <th width="7%" custom-sort order="'gsmLevel'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                        <th width="40%" custom-sort order="'address'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                        <th width="15%" custom-sort order="'parkedTime'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Duration (h:m:s)</th>
                                        <th width="10%" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                   <!-- <th width="20%" colspan="2" class="id" custom-sort order="'totalParkedTime'" sort="sort" style="text-align:center;">Total Parked Time</th> -->
                                      </tr>
                                     </thead>
                                    <tbody>
                                    <tr ng-repeat="user in parkeddata | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">
                                        
                                        <td>{{user.startParkedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{user.endParkedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                   <!-- <td>{{user.gsmLevel}}</td> -->
                                        <td> 
                                            <p ng-if="user.address!=null">{{user.address}}</p>
                                            <p get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && saddressStop[$index]!=null">{{saddressStop[$index]}}</p>
                                            <p ng-if="user.address==null && saddressStop[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <td>{{getParkedCorrectHours(user.parkedTime)}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>
                                    </tr>
                                    <tr ng-if=" errMsg == null " align="center">
                                        <td ng-if="parkeddata==null || parkeddata.length==0" colspan="6" class="err" ng-show="showErrMsg"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                    </tbody>                                
                            </table>
                            </div>
                         </tab>
                         <tab ng-show="tabIdleShow" select="alertMe('idlereport')" heading="Idle" active="tabidle">
                             <p style="margin:0" class="page-header">Idle Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div class="box-body table-responsive" id="idlereport">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="col-md-12" style="height: 15px;"></div> 
                                    <!-- <tr><td colspan="4"></td></tr> -->
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                     <thead>
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th width="13%" class="id" custom-sort order="'date'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Idle Time</th>
                                            <th width="10%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                       <!-- <th width="13%" class="id" custom-sort order="'gsmLevel'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                            <th width="40%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                            <th width="15%" class="id" custom-sort order="'idleTime'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Duration (h:m:s)</th>
                                        </tr>
                                     </thead>
                                      <tbody>
                                      <tr ng-repeat="user in idlereport | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">
                                        <td>{{user.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>
                                       <!-- <td>{{user.gsmLevel}}</td> -->
                                        <td>
                                            <p ng-if="user.address!=null">{{user.address}}</p>
                                            <p get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && addressIdle[$index]!=null">{{addressIdle[$index]}}</p>
                                            <p ng-if="user.address==null && addressIdle[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <td>{{getParkedCorrectHours(user.idleTime)}}</td>
                                    </tr>
                                    <tr ng-if="errMsg == null" align="center" ng-show="showErrMsg">
                                        <td ng-if="idlereport==null || idlereport.length==0" colspan="5" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null" align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                 </tbody>
                                </table>
                            </div>
                             
                         </tab>
                         <tab ng-hide="true" select="alertMe('eventReport')" heading="Event" active="tabevent">
                            <p style="margin:0" class="page-header">Event Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div class="box-body table-responsive" id="eventReport">
                                <table style="background-color: #cecece; color: #000" class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <td><label><input type="checkbox"  id="stop"><b> Stoppage </b></label></td>
                                            <td><label><input type="textbox" id="stop1" style="height: 20px; width:30px; border-radius: 3px" value="10"/><b> (mins) </b></label></td>
                                            <td><label><input type="checkbox" id="idle"><b> Idle </b></label></td>
                                            <td><label><input type="textbox" id="idle1" style="height: 20px; width:30px; border-radius: 3px" value="10"/><b> (mins) </b></label></td>
                                            <td><label><input type="checkbox" id="location" ><b> Location </b></label></td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" id="overspeed"><b> Overspeed </b></label></td>
                                            <td><label><input type="textbox" id="overspeed1" style="height: 20px; width:30px; border-radius: 3px" value="10"/><b> (Km) </b></label></td>
                                            <td><label><input type="checkbox" id="notreach"><b> NotReachable </b></label><br/></td>
                                            <td><label><input type="textbox" id="notreach1" style="height: 20px; width:30px; border-radius: 3px" value="10"/><b> (mins) </b></label></td>
                                            <td><label><input type="checkbox" id="site"><b> Site </b></label>   </td>
                                        </tr>
                                        
                                        
                                </table>
                                <hr>
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                 <thead>
                                    <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                            <th colspan="2" style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                        </tr>
                                  </thead>
                                </table>
                                <div class="col-md-12" style="height: 15px;"></div>
                                    <!--    <tr><td colspan="5"></td></tr>-->
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>     
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th width="20%" class="id" custom-sort order="'startTime'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Start Time</th>
                                            <th width="20%" class="id" custom-sort order="'duration'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Duration</th>
                                       <!-- <th width="5%" class="id" custom-sort order="'duration'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                            <th colspan="2" width="40%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                            <th width="20%" class="id" custom-sort order="'state'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">State</th>
                                        </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="user in eventReportData | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">
                                        <td>{{user.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>
                                            <p ng-if="user.duration!=null">{{msToTime(user.duration)}}</p>
                                            <p ng-if="user.duration==null">--</p>
                                        </td>
                                   <!-- <td>{{user.gsmLevel}}</td> -->
                                        <td colspan="2">
                                            <p ng-if="user.address!=null">{{user.address}}</p>
                                            <p get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && addressEvent[$index]!=null">{{addressEvent[$index]}}</p>
                                            <p ng-if="user.address==null && addressEvent[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <td>{{user.state}}</td>
                                    </tr>
                                    <tr ng-if="errMsg == null" align="center">
                                        <td ng-if="eventReportData==null" colspan="5" class="err" ng-show="showErrMsg"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null" align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                         </tab>
                         <tab ng-hide="true" select="alertMe('sitereport')" heading="Site" active="tabsite">
                             <p style="margin:0" class="page-header">Site Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div class="box-body table-responsive" id="sitereport">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-md-12" style="height: 15px;"></div>     
                                    <!--<tr><td colspan="4"></td></tr> -->
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead> 
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th width="20%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Start Time</th>
                                            <!-- <th width="10%" class="id" style="text-align:center;">G-Map</th> -->
                                            <th colspan="2" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                            <th width="20%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">State</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in siteReport   " class="active" style="text-align:center">
                                        <td>{{user.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td colspan="2">{{user.address}}</td>
                                        <td>{{user.state}}</td>
                                    </tr>
                                    <tr ng-if="errMsg == null" align="center" ng-show="showErrMsg">
                                        <td ng-if="siteReport==null" colspan="4" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                             
                         </tab>
                         <tab select="alertMe('loadreport')" heading="Load" active="tabload" ng-hide="true">
                            <p style="margin:0" class="page-header">Load Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div class="box-body table-responsive" id="loadreport">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-md-12" style="height: 15px;"></div> 
                                <!--    <tr><td colspan="4"></td></tr> -->
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                  <thead>   
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th class="id"  custom-sort order="'date'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="30%">Date &amp; Time</th>
                                            <th class="id"  custom-sort order="'load'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="20%">Load Truck</th>
                                       <!-- <th class="id"  custom-sort order="'gsmLevel'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="5%">Sat</th> -->
                                            <th class="id" custom-sort order="'address'" sort="sort" style="text-align: center;background-color:#d3e0f1;font-size:12px;" width="35%">Nearest Location</th>
                                            <th width="15%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                        </tr>
                                 </thead>
                                 <tbody>
                                    <tr class="active" style="text-align:center" ng-repeat="load in loadreport.load | orderBy:natural(sort.sortingOrder):sort.reverse">
                                        <td>{{load.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{load.load}}</td>
                                   <!-- <td>{{load.gsmLevel}}</td> -->
                                        <td>{{load.address}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{load.lat}},{{load.lng}}" target="_blank">Link</a></td>
                                    </tr>
                                    <tr ng-if="errMsg == null" align="center" ng-show="showErrMsg">
                                        <td  ng-if="loadreport.load ==null || loadreport.load.length==0" colspan="4" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                         </tab>
                         <tab ng-show="tabFuelShow" heading="Fuel" select="alertMe('fuelreport')" active="tabfuel">
                            <p style="margin:0" class="page-header">Fuel Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                            <div style="min-width:700px; max-width:700px; width: 700px; height: 300px" id="container"></div> 
                            <div class="box-body table-responsive" id="fuelreport">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                        </tr>
                                        <!--  <tr><td colspan="3"></td></tr> -->
                                    </thead>
                                </table>
                                
                                <div class="col-md-12" style="height: 15px;"></div>
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th class="id"  custom-sort order="'date'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="15%">Date &amp; Time</th>
                                            <th class="id"  custom-sort order="'fuelLitre'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="10%">Fuel (ltr)</th>
                                            <th class="id"  custom-sort order="'speed'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="10%">Speed</th>
                                            <th class="id"  custom-sort order="'odoDistance'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="15%">Odo</th>
                                       <!-- <th class="id"  custom-sort order="'gsmLevel'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="5%">Sat</th> -->
                                            <th class="id" custom-sort order="'address'" sort="sort" style="text-align: center;background-color:#d3e0f1;font-size:12px;" width="35%">Nearest Location</th>
                                            <th class="id" style="text-align: center;background-color:#d3e0f1;font-size:12px;" width="10%">G-Map</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active" style="text-align:center" ng-repeat="fuel in fuelValue | orderBy:natural(sort.sortingOrder):sort.reverse">
                                        <td>{{fuel.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{fuel.fuelLitre}}</td>
                                        <td>{{fuel.speed}}</td>
                                        <td>{{fuel.odoDistance}}</td>
                                   <!-- <td>{{fuel.gsmLevel}}</td> -->
                                        <td> 
                                            <p ng-if="fuel.address!=null">{{fuel.address}}</p>
                                            <p ng-if="fuel.address==null && addressFuel[$index]!=null">{{addressFuel[$index]}}</p>
                                            <p ng-if="fuel.address==null && addressFuel[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td> 
                                        <td><a href="https://www.google.com/maps?q=loc:{{fuel.latitude}},{{fuel.longitude}}" target="_blank">Link</a></td>
                                    </tr>
                                    <tr ng-if="errMsg == null" align="center" ng-show="showErrMsg">
                                        <td ng-if="fuelValue==null || fuelValue.length ==0" colspan="5" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="10" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                         </tab>
                         <tab ng-show="tabIgnitionShow" heading="Ignition" select="alertMe('ignitionreport')" active="tabignition">
                            <p style="margin:0" class="page-header">Ignition Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                            <div class="box-body table-responsive" id="ignitionreport">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                            <th style="text-align:center;background-color:#f9f9f9;font-weight: unset;font-size:12px;" colspan="1">{{trimColon(vgroup)}}</th>
                                            <th colspan="2" style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                            <th colspan="2" style="text-align:center;background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th>   
                                        </tr>
                                         <tr style="text-align:center;">
                                            <th style="background-color:#f9f9f9;">Reg No</th>
                                            <th style="text-align:center;background-color:#ecf7fb;font-weight: unset;font-size:12px;" colspan="1">{{hist.regNo}}</th>
                                            <th colspan="2" style="background-color:#f9f9f9;"> Total Duration</th>
                                            <th colspan="2" style="text-align:center;background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{ignDurTot}}</th>   
                                        </tr>
                                        </thead>
                                    </table>
                                    
                                   <div class="col-md-12" style="height: 15px;"></div>     
                                    <table class="table table-bordered table-striped table-condensed table-hover">

                                    <thead>
                                        <!--<tr><td colspan="6"></td></tr> -->
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="20%">Date &amp; Time</th>
                                            <th style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="20%">Status</th>
                                            <th style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="15%">Duration (h:m:s)</th>
                                       <!-- <th style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="5%">Sat</th> -->
                                            <th style="text-align: center;background-color:#d3e0f1;font-size:12px;" width="30%">Nearest Location</th>
                                            <th style="text-align: center;background-color:#d3e0f1;font-size:12px;" width="15%">G-Map</th>
                                        </tr>
                                  </thead>
                                <tbody>
                                    <tr class="active" style="text-align:center" ng-repeat="ignition in ignitionData">
                                        <td>{{ignition.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{ignition.ignitionStatus}}</td>
                                        <td rowspan="2" ng-if="ignition.ignitionStatus == 'ON'">{{msToTime(ignitionData[$index+1].date-ignition.date)}}</td>
                                   <!-- <td>{{ignition.gsmLevel}}</td> -->
                                        <td>{{ignition.address}}</td> 
                                        <td><a href="https://www.google.com/maps?q=loc:{{ignition.latitude}},{{ignition.longitude}}" target="_blank">Link</a></td>
                                    </tr>
                                    <tr ng-if="errMsg == null" align="center" ng-show="showErrMsg">  
                                        <td ng-if="ignitionData==null || ignitionData.length==0" colspan="6" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                         </tab>
<!--                     <tab ng-show="tabAcreportShow" heading="A/C" select="alertMe('acreport')" active="tabac">
                            <p style="margin:0" class="page-header">A/C Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                            <br>
                            
                            <div class="box-body table-responsive" id="acreport">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">Vehicle Group</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                            <th style="background-color:#ecf7fb;">Vehicle Name</th>
                                            <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-md-12" style="height: 15px;"></div>
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                     <tr><td colspan="5 "></td></tr> -->
<!--                                        <tr style="text-align:center;font-weight: bold;">
                                            <th style="text-align:center;background-color:#C2D2F2;" width="20%">Date &amp; Time</th>
                                            <th style="text-align:center;background-color:#C2D2F2;" width="15%">Status</th>
                                            <th style="text-align:center;background-color:#C2D2F2;" width="15%">Duration (h:m:s)</th>
                                            <th style="text-align: center;background-color:#C2D2F2;" width="35%">Nearest Location</th>
                                            
                                            <th class="id" style="text-align: center;background-color:#C2D2F2;" width="15%">G-Map</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr class="active" style="text-align:center" ng-repeat="ac in acReport">
                                        <td>{{ac.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>
                                            <span ng-if="ac.vehicleBusy == 'yes'">ON</span>
                                            <span ng-if="ac.vehicleBusy == 'no'">OFF</span>
                                        </td>
                                        <td rowspan="2" ng-if="ac.vehicleBusy == 'yes'">{{msToTime(acReport[$index+1].date-ac.date)}} </td>
                                        <td> {{ac.address}}
                                             <p ng-if="ignitionignitionignition.address!=null">{{ignition.address}}</p>
                                            <p ng-if="ignitionignition.address==null && addressFuel[$index]!=null">{{addressFuel[$index]}}</p>
                                            <p ng-if="ignition.address==null && addressFuel[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p> -->
<!--                                        </td> 
                                        <td><a href="https://www.google.com/maps?q=loc:{{ac.latitude}},{{ac.longitude}}" target="_blank">Link</a></td>
                                    </tr>
                                    <tr ng-if="errMsg == null" align="center" ng-show="showErrMsg">
                                        <td  ng-if="acReport==null || acReport.length == 0" colspan="6" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null" align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                         </tab>-->
                         <tab ng-show="tabStopShow" select="alertMe('stoppageReport')" heading="Stoppage" active="tabStop" >
                             <p style="margin:0" class="page-header">Stoppage Report <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>

                         <div class="form-group pull-right" style="float: right;padding-right: 20px;margin-top: 7px;margin-bottom: 7px;">
                            <span style="font-size: 14px;">
                        
                                  <select ng-model="time_stop" ng-change="filtersTime(time_stop,'stop')" style="padding:3px 3px 3px 3px; font-size: 12px;width:100px;">
                                        <option value="All"> All </option>
                                        <option value="1">  >  1 min </option>
                                        <option value="2">  >  2 mins </option>
                                        <option value="5">  >  5 mins </option>
                                        <option value="10"> > 10 mins </option>
                                        <option value="15"> > 15 mins </option>
                                        <option value="30"> > 30 mins </option>
                                       <option value="100"> > 1 hour </option>
                                   </select>
                              </span>
                            </div>
                             <div class="box-body table-responsive" id="stoppageReport">
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                            <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                            <th style="background-color:#ecf7fb;" colspan="2">{{vehiLabel}} Name</th>
                                            <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th> 
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-md-12" style="height: 15px;"></div>
                                <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                        <!--<tr><td colspan="7"></td></tr>-->
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th width="15%" class="id" custom-sort order="'date'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Start Time</th>
                                            <th width="15%" class="id" custom-sort order="'endStoppageTime'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">End Time</th>
                                            <th width="10%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                       <!-- <th width="7%" class="id" custom-sort order="'gsmLevel'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                            <th width="36%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Location</th>
                                            <th colspan="2" width="22%" class="id" custom-sort order="'stoppageTime'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Duration (h:m:s)</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in stopReport | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">
                                        <td>{{user.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{user.endStoppageTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>
                                  <!-- <td>{{user.gsmLevel}}</td> -->
                                        <td>
                                            <p ng-if="user.address!=null">{{user.address}}</p>
                                        <!--    <p get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null ">{{addressIdle[$index]}}</p>-->
                                            <p ng-if="user.address==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <td>{{msToTime(user.stoppageTime)}}</td>
                                    </tr>
                                    <tr ng-if=" errMsg == null " align="center" ng-show="showErrMsg">
                                        <td ng-if="stopReport==null || stopReport.length==0" colspan="7" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null" align="center" ng-show="showErrMsg">
                                        <td colspan="8" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                             
                         </tab>

                        <tab ng-show="tabMovementShow" select="alertMe('noData')" heading="No Data" active="tabNoData" >
                             <p style="margin:0" class="page-header"> No Data <span style="float: right;font-size:15px;padding-right: 15px;"><b>From</b> : &nbsp;{{fromdate}} &nbsp;{{convert_to_24hrs(fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{todate}} &nbsp;{{convert_to_24hrs(totime)}}</span></p>
                             <div id='movementreport' class="box-body table-responsive">
                             <table class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th colspan="2" style="background-color:#ecf7fb;">{{vehiLabel}} Group</th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(vgroup)}}</th>
                                        <th style="background-color:#ecf7fb;">{{vehiLabel}} Name</th>
                                        <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.shortName}}</th>                 
                                    </tr>
                                   <!-- <tr style="text-align:center;">
                                        <th colspan="2" style="background-color:#f9f9f9;">Regn No</th>
                                        <th colspan="2" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.regNo}}</th>
                                        <th style="background-color:#f9f9f9;">Trip Distance</th>
                                        <th colspan="3" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{hist.tripDistance}} Kms</th>
                                    </tr>
                                    <tr ng-if="vehiAssetView" style="text-align:center;">
                                        <th colspan="2" style="background-color:#ecf7fb;">Opening OdoReading</th>
                                        <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.openingOdoReading}}</th>
                                        <th style="background-color:#ecf7fb;">Closing OdoReading</th>
                                        <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{hist.closingOdoReading}}</th>
                                    </tr> -->
                                    <tr ng-hide="true" style="text-align:center;" >
                                        <td colspan="2"><b>From Date</b></td>
                                        <td>{{fromdate}}</td>
                                        <td colspan="1"><b>From Time</b></td>
                                        <td colspan="3">{{fromtime}}</td>   
                                    </tr>
                                    <tr ng-hide="true" style="text-align:center;">
                                        <td colspan="2"><b>To Date</b></td>
                                        <td>{{todate}}</td>
                                        <td colspan="1"><b>To Time</b></td>
                                        <td colspan="3">{{totime}}</td>
                                    </tr>
                                   </thead>
                                   </table>
                                   <div class="col-md-12" style="height: 15px;"></div>
                               <!-- <tr><td colspan="8"></td></tr> -->
                                    <table class="table table-bordered table-striped table-condensed table-hover"> 
                                    <thead>
                                    <tr style="text-align:center">
                                    <th width="25%" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Date&amp;Time</th>
                                      <!--  <th width="8%" class="id" custom-sort order="'speed'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Speed</th> -->
                                   <!-- <th width="6%" class="id" custom-sort order="'gsmLevel'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Sat</th> -->
                                      <!--  <th width="10%" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Lat&Long</th> -->
                                        <th width="20%" style="text-align:center;background-color:#d3e0f1;font-size:12px;" width="15%">Duration (h:m:s)</th>
                                        <th width="40%" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Nearest Location</th>
                                        <th width="15%" class="id" style="text-align:center;background-color:#d3e0f1;font-size:12px;">G-Map</th>
                                   <!-- <th width="8%" class="id" custom-sort order="'tmpDistance'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">Dist</th>
                                        <th width="12%" class="id" custom-sort order="'distanceCovered'" sort="sort"  style="text-align:center;background-color:#d3e0f1;font-size:12px;">C-Dist (Kms)</th>
                                        <th ng-if="vehiAssetView" width="10%" class="id" custom-sort order="'odoDistance'" sort="sort"  style="text-align:center;height:3px;background-color:#d3e0f1;font-size:12px;">Odo (Kms)</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="val in noData" class="active" style="text-align:center">
                                         <td>{{val.date | date:'yyyy-MM-dd'}}&nbsp;&nbsp;{{val.date | date:'HH:mm:ss'}}</td>
                                    <!-- <td>{{val.speed}}</td> -->
                                    <!-- <td>{{move.gsmLevel}}</td> -->
                                    <!-- <td>{{val.latitude}},{{val.longitude}}</td> -->
                                         <td>{{msToTime(val.noDataTime)}}</td>
                                         <td>
                                            <p ng-if="val.address!=null">{{val.address}}</p>
                                            <p ng-if="val.address==null && maddress1[$index]!=null">{{maddress1[$index]}}</p>
                                            <p ng-if="val.address==null && maddress1[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                        </td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{val.latitude}},{{val.longitude}}" target="_blank">Link</a></td>
                                        <!-- <td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && maddress[$index]==null">Click Me</td> -->
                                        <!-- <td get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && maddress1[$index]!=null">{{maddress1[$index]}}</td> -->
                                 <!--  <td>{{val.tmpDistance}}</td>
                                        <td>{{val.distanceCovered}}</td>
                                        <td ng-if="vehiAssetView">{{val.odoDistance}}</td> -->
                                    </tr>   
                                    <tr ng-if="errMsg == null " align="center" ng-show="showErrMsg">
                                        <td ng-if="noData == null || noData.length==0" colspan="8" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                                    </tr>
                                    <tr ng-if="errMsg != null " align="center" ng-show="showErrMsg">
                                        <td colspan="10" class="err"><h5>{{errMsg}}</h5></td>
                                    </tr>
                            </table>
                            <!-- <pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="movementdata.length" ng-model="currentPage" ng-change="pageChanged()"></pagination>  
                             -->
                             </div>
                         </tab> 

                        <div class="pull-right">
                        <!-- <a href="downloadhistory?vvid={{id}}&rid={{downloadid}}&fd={{fromdate}}&ft={{fromtime}}&td={{todate}}&tt={{totime}}&dvg={{vgroup}}&interval={{interval}}" target="_blank"><img src="../app/views/reports/image/Adobe.png" /></a> -->
                        <img style="cursor: pointer;" ng-click="exportData(downloadid)"  src="../app/views/reports/image/xls.png" />
                        <img width=30 height=30 style="cursor: pointer;" ng-click="exportDataCSV(downloadid)"  src="../app/views/reports/image/csv.jpeg" />
                    </div>
                    </tabset>
                    <!-- End Tabset -->
                     
                </div><!-- /.box-body -->
                <!-- <div ng-show="loading" class="overlay"></div>
                <div ng-show="loading" class="loading-img"></div> -->
                <!--<div ng-show="true" class="overlay"></div>
                <div ng-show="true" class="loading-img"></div> -->
                <div class="box-body col-md-3" ng-show="overallEnable">
                    <!-- <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{hist.overSpeedInstances}}</h3>
                            <p>
                                <b> Overspeed Instances </b>
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div> -->
                            
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4 ng-if ="hist.topSpeed != 0 && hist.topSpeedTimeUTC != 0" ng-show="cardData">
                                {{hist.topSpeed}} &nbsp; {{hist.topSpeedTimeUTC | date:'yyyy-MM-dd HH:mm:ss'}}
                            </h4>
                            <h4 ng-if ="hist.topSpeed == 0 && hist.topSpeedTimeUTC == 0">
                                0
                            </h4>
                            <p><b><a style="color: white;" href="https://www.google.com/maps?q=loc:{{hist.topSpeedGeoLocation}}" target="_blank">Top Speed</a></b>
                                
                            </p>
                            
                        </div>
                       <div class="icon">
                            <i class="ion ion-speedometer"></i>
                        </div>
                    </div>
                            
                     <div class="small-box bg-yellow">
                        <div class="inner">
                            <h4 ng-bind="msToTime(hist.totalRunningTime)" ng-show="cardData">
                              
                            </h4>
                            <p><b>Total Running Time</b>
                                
                            </p>
                            
                        </div>
                       <div class="icon">
                            <i class="ion ion-clock"></i>
                        </div>
                    </div>
                            
                     <div class="small-box bg-red">
                        <div class="inner">
                            <h4 ng-bind="msToTime(hist.totalParkedTime)" ng-show="cardData">
                                
                            </h4>
                            <p><b>Total Parked Time</b>
                                
                            </p>
                            
                        </div>
                       <div class="icon">
                            <i class="ion ion-clock"></i>
                        </div>
                    </div>

                    <div class="small-box bg-dark-gray">
                        <div class="inner">
                            <h4 ng-bind="msToTime(hist.totalIdleTime)" ng-show="cardData"></h4>
                            <p><b>Total Idle Time</b></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-clock"></i>
                        </div>
                    </div>   
                     <div class="small-box bg-blue">
                        <div class="inner">
                            <h4 ng-bind="hist.parkingCount" ng-show="cardData">
                                
                            </h4>
                            <p><b>No. of Parkings</b>
                                
                            </p>
                            
                        </div>
                       <div class="icon">
                            <i class="ion ion-clock"></i>
                        </div>
                    </div>
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h4 ng-bind="msToTime(hist.totalNoDataTime)" ng-show="cardData"></h4>
                            <p><b>No Data Time</b></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-clock"></i>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
       
    <script src="assets/js/static.js"></script>        
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="../app/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="assets/js/highcharts.js"></script>
    <script src="../app/views/reports/customjs/moment.js"></script>
    <script src="../app/views/reports/customjs/FileSaver.js"></script>
    <script src="../app/views/reports/customjs/html5csv.js"></script>
    <script src="../app/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../app/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
<!--<script src="assets/js/naturalSortVersionDates.js"></script> -->
    <script src="assets/js/vamoApp.js"></script>
    <script src="../app/views/reports/customjs/history.js"></script>
    
    <script>
       
    $("#example1").dataTable();
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        
        $(function () {
                $('#dateFrom, #dateTo').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false,
                    maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
                });
                $('#timeFrom').datetimepicker({
                    pickDate: false
                });
                $('#timeTo').datetimepicker({
                    useCurrent:true,
                    pickDate: false
                });
        });      
    </script>
    <style>
        .alig{
            style="text-align:center; font-weight: bold;"
        }
    </style>
</body>
</html>
