<div style="box-shadow:0px 8px 17px rgba(0, 0, 0, 0.2)  !important;">     
<nav class="menus" >
    <ul>
        <li class="cl-effect-5">
            
            <!-- <a><span  data-hover="Tracking">Tracking</span></a><span class="glyphicons glyphicons-road"></span> -->
            <a><span  data-hover="Tracking"><div class="glyphicon glyphicon-map-marker"></div>&nbsp;Tracking</span></a>
            <ul>
                <li class="removeli" id="historyRl"><a id="history" href="" target="_blank">History</a></li>
                <li class="removeli" id="singleTrackRl"><a id="singleTrack" href="">Single Track</a></li>
                <li class="removeli" id="multiTrackRl"><a id="multiTrack" href="">Multi Track</a></li>
                <li class="removeli removeli_2" id="routesRl"><a href="../public/track?maps=replay&rt=routes">Routes</a></li>
                <li class="removeli removeli_2" id="addsiteRl"><!-- <a id="addsites">Admin</a>
                    <div  style="padding-left: 10px"> -->
                       <a href="../public/password_check" id="addsites">AddSites / Geo Fence</a>
               <!-- </div> -->
                </li>
              <!-- <li class="removeli" id="singleTrackRls"><a id="landNew" href="" target="_blank">New Landing Page</a></li> -->
              <!--  <li class="removeli"><a id="dashNew" href="../public/dashNew" target="_blank">New DashBoard</a></li> -->
                <!-- <li id="removeli"><a href="../public/groupEdit">Edit Group</a></li> -->
            </ul>
        </li>
        <li class="cl-effect-5">
            <!-- <a><span data-hover="Reports">Reports</span></a> -->
            <a><span  data-hover="Reports"><div class="glyphicon glyphicon-list-alt"></div>&nbsp;Reports</span></a>
            <ul>
                <li class="removeli" id="curStatRl"><a href="../public/reports?ind=1">Dashboard</a></li>
                <li class="removeli" id="vehConsRl"><a id="assetLabel" href="../public/reports?ind=2">Vehicles Consolidated </a></li>
                <li class="removeli" id="conSiteRl"><a href="../public/reports?ind=3"> Consolidated Site & Location</a></li>
           <!-- <li class="removeli"><a href="../public/reports?ind=4"> Site Location</a></li> -->
                <li class="removeli" id="conOvrRl"><a href="../public/reports?ind=4"> Consolidated Overspeed</a></li>
                <li class="removeli" id="stopReportRl"><a id="stopReport" href="">Consolidated Stoppage</a></li>
                <li class="removeli" id="conSiteLocRl"><a id="ConSiteLocReport" href="">Consolidated Site Report</a></li>
                <li class="removeli" id="tollReportRl"><a id="tollReport" href="">Tollgate Report</a></li>
                <li class="removeli" id="empAtnReportRl"><a id="empAtnReport" href="">Employee Attendance Report</a></li>
                <li class="removeli" id="SchoolSmsReportRl"><a id="SchoolSmsReport" href="">School SMS Daily Report</a></li>
                <li class="removeli" id="siteAlertReportRl"><a id="siteAlertReport" href="">Site Stopppage Alert </a></li>
                <!-- <li> <a href="#"> Advanced &nbsp; </a>
                     <div style="padding-left: 10px">
                        <table style="width: 300px; height: 100px;">
                            <tr>
                                <td><a id="movement" href="" class="lowcase"> Movement </a></td>
                                <td><a id="overspeed" href="" class="lowcase"> OverSpeed </a></td>
                                <td><a id="parked" href="" class="lowcase"> Parked </a></td>
                            </tr>
                            <tr>
                                <td><a id="idle" href="" class="lowcase"> Idle </a></td>
                                <td><a id="event" href="" class="lowcase"> Event </a></td>
                                <td><a id="site" href="" class="lowcase"> Site </a></td>
                            </tr>
                            <tr>
                                <td><a id="load" href="" class="lowcase"> Load </a></td>
                                <td><a id="fuel" href="" class="lowcase"> Fuel </a></td>
                                <td><a id="ignition" href="" class="lowcase"> Ignition </a></td>
                            </tr>
                            <tr>
                                <td><a id="trip" href="" class="lowcase"> Trip Time </a></td>
                                <td><a id="tripkms" href="" class="lowcase"> Trip Summary</a></td>
                                <td><a id="temp" href="" class="lowcase"> Temperature</a></td>
                            </tr>
                            <tr>
                                <td><a id="alarm" href="" class="lowcase">Alarm</a></td>
                            </tr>
                        </table>

                    </div>
                </li> -->
            </ul>
        </li>
            <li class="cl-effect-5">
                <!-- <a><span data-hover="analytics">analytics</span></a> -->
                <a><span  data-hover="analytics"><div class="glyphicon glyphicon-screenshot"></div>&nbsp;Analytics</span></a>
                <ul>
                    <li class="removeli" id="movementRl"><a id="movement" href="" > Movement</a></li>
                    <li class="removeli" id="overspeedRl"><a id="overspeed" href=""> OverSpeed </a></li>
                    <li class="removeli" id="parkedRl"><a id="parked" href=""> Parked </a></li>
                    <li class="removeli" id="idleRl"><a id="idle" href=""> Idle </a></li>
                    <li class="removeli" id="ignitionRl"><a id="ignition" href=""> Ignition </a></li>
                    <li class="removeli" id="fuelRl"><a id="fuel" href=""> Fuel </a></li>
               <!-- <li class="removeli" id="eventRl"><a id="event" href=""> Event </a></li>
                    <li class="removeli" id="siteRl"><a id="site" href=""> Site </a></li>
                    <li class="removeli" id="multiSiteRl"><a id="multiSite" href=""> Site (Mulitple Site)</a></li> -->
                    <li class="removeli" id="tripSiteRl"><a id="tripSite" href=""> Site Trip</a></li>
                    <li class="removeli" id="tripRl"><a id="trip" href=""> Trip Time </a></li>
                    <li class="removeli" id="tripkmsRl"><a id="tripkms" href=""> Trip Summary</a></li>
                    <li class="removeli" id="alarmRl"><a id="alarm" href="">Alarm</a></li>
                    <li class="removeli" id="stoppageRl"><a id="stoppage" href="">Stoppage</a></li>
                    <li class="removeli" id="noDataRl"><a id="noData" href="">No Data</a></li>
                </ul>
            </li>
        <li class="cl-effect-5">
            <!-- <a><span data-hover="Statistics">Statistics</span></a> -->
            <a><span  data-hover="Statistics"><div class="glyphicon glyphicon-stats"></div>&nbsp;Statistics</span></a>
            <ul>
                <li class="removeli" id="dailyRl"><a href="../public/statistics?ind=1">Daily</a></li>
                <li class="removeli" id="poiRl"><a href="../public/statistics?ind=2">POI</a></li>
                <li class="removeli" id="consolRl"><a href="../public/statistics?ind=3">Consolidated</a></li>
                <li class="removeli" id="exfuelRl"><a href="../public/statistics?ind=4">Executive Fuel</a></li>
                <li class="removeli" id="monDistRl"><a href="../public/statistics?ind=5">Monthly Dist</a></li> 
                <li class="removeli" id="monDistFuelRl"><a href="../public/statistics?ind=6">Monthly Dist and Fuel</a></li> 
            </ul>
        </li>
        <li class="cl-effect-5" id="sensMenu">
        <a><span  data-hover="sensor"><div class="glyphicon glyphicon-list"></div>&nbsp;Sensor</span></a>
            <!-- <a><span data-hover="sensor">sensor</span></a> -->
            <ul>
                    <li class="removeli" id="acRl"><a id="ac" href=""> AC </a></li>
                    <li class="removeli" id="idleWasteRl"><a id="idleWaste" href=""> Idle Wastage </a></li>
                    <li class="removeli" id="prmEngineOnRl"><a id="prmEngineOn" href="">Primary Engine On </a></li>
                    <li class="removeli" id="engineOnRl"><a id="engineOn" href="">Secondary Engine On </a></li>
                    <li class="removeli" id="loadRl"><a id="load" href=""> Load </a></li>
                    <li class="removeli" id="tempRl"><a id="temp" href=""> Temperature</a></li>
                    <li class="removeli" id="tempdevRl"><a id="tempdev" href=""> Temperature Deviation</a></li>
                    <li class="removeli" id="distTimeRl"><a href="../public/fuel">Distance &amp; Time</a></li>
                    <li class="removeli" id="fuelNewRl"><a id="fuelNew" href="">Fuel & Speed</a></li>
                    <li class="removeli" id="fuelFillRl"><a href="../public/fuel?tab=fuelfill">Fuel Fill</a></li>
                    <li class="removeli" id="rfidRl"><a id="rfid" href="">Rfid</a></li>
                    <li class="removeli" id="rfidNewRl"><a id="rfidNew" href="">Rfid New</a></li>
                    <li class="removeli" id="cameraRl"><a id="camera" href="">Camera</a></li> 
            </ul>
        </li>
        <!-- <li class="cl-effect-5">
           
            <a><span  data-hover="Fuel"><div class="glyphicon glyphicon-tint"></div>&nbsp;Fuel</span></a>
            <ul>
                <li><a href="../public/fuel">Distance &amp; Time</a></li>
                <li><a href="../public/fuel?tab=fuelfill">Fuel Fill</a></li>
            </ul>
        </li> -->
        <li class="cl-effect-5">
            <a><span  data-hover="Performance"><div class="glyphicon glyphicon-charts"></div>&nbsp;Performance</span></a>
            <!-- <a><span  data-hover="Performance">Performance</span></a> -->
            <ul>
                <li class="removeli" id="dailyPerfRl"><a href="../public/performance?tab=daily">Daily Performance</a></li>
                <li class="removeli" id="monPerfRl"><a href="../public/performance">Monthly Performance</a></li>
            </ul>
        </li>
        
        <li id="userId">
            <span class="glyphicon glyphicon-user"><span id="valueUser" style="font-size:12px; font-weight: bold; font-family: Helvetica"></span></span>  
            <ul>           
                <li id="payDetRl"><a href="../public/payDetails">Payment Details</a></li>
                <li class="removeli removeli_2" id="editGrpRl"><a href="../public/groupEdit">Edit Group</a></li>
                <li class="removeli removeli_2" id="editNotRl"><a href="../public/passWd?userlevel=notify">Edit Notification</a></li>
                <li class="removeli removeli_2" id="editUsNotRl"><a href="../public/userNotify">Edit User Notification</a></li>
                <li class="removeli removeli_2" id="resetRl"><a href="../public/passWd?userlevel=reset">Reset Password</a></li>
                <li class="removeli removeli_2" id="editBusRl"><a href="../public/passWd?userlevel=busStop">Edit BusStop</a></li>
                <li class="removeli removeli_2" id="getApiRl"><a href="../public/passWd?userlevel=apiKeys">Get ApiKey</a></li>
            </ul>
        </li>
        
        <li>
            <a href="../public/logout" class="glyphicon glyphicon-log-out" style="padding: 10px 15px;color: #fff; text-align: center;"></a>
        </li>
    </ul>
</nav>
</div>

<script type="text/javascript">

// $('#pwdModal').appendTo("body") 
    
    // var menuValue = JSON.parse(sessionStorage.getItem('userIdName'));
    // var sp = [];
    // try{

    //     sp = menuValue.split(",");
        
    // }catch (err){
    //     $.ajax({

    //         async: false,
    //         method: 'GET', 
    //         url: "aUthName",
    //         // data: {"orgId":$scope.orgIds},
    //         success: function (response) {

    //             console.log(response)
    //             sp[1] = response[1];
    //         }
    //     })
    //     // sp[1] = 'DEMO';
    //     // console.log(document.location)
    // }


        var globalIP = document.location.host;
        var contextMenu = '/gps';
        var labelVal;
        var menuValue = JSON.parse(sessionStorage.getItem('userIdName'));

        window.localStorage.setItem("userMasterName",menuValue);
        sp1 = menuValue.split(",");
        $('#valueUser').text("  "+sp1[1]);

        console.log(sp1[1]);

        var obj = JSON.parse(sessionStorage.getItem('user'));
    //  var menuObj = JSON.parse(window.localStorage.getItem('MenuData'));
      //   console.log(menuObj);

    $.get('//'+globalIP+contextMenu+'/public/isAssetUser', function(response) {
                var menuVal  = response.trim();
                    labelVal = menuVal;
                if(menuVal=="true"){
                   document.getElementById('assetLabel').innerHTML = 'Assets Consolidated';
                     //document.getElementById('singleTrackRls').innerHTML   = '';
                       document.getElementById('sensMenu').innerHTML = '';
                }
                //sessionStorage.setItem('isAssetUser', JSON.stringify(menuVal));
            }).error(function(){
                    console.log('error in isAssetUser...');
    });



    $.get('//'+globalIP+contextMenu+'/public/getReportsList', function(response) {

        if(response){
              var menuObj=JSON.parse(response);
               //console.log(menuObj);

           if( menuObj != "" && menuObj!=null ){ 

             for(var i=0;i<menuObj.length;i++){

            // console.log( Object.getOwnPropertyNames(menuObj[i]).sort() );
                  var newReportName = Object.getOwnPropertyNames(menuObj[i]).sort();

                if(newReportName == "Analytics_IndivdiualReportsList"){

                  //  console.log( "Analytics_Reports");
                  //  console.log(menuObj[i].Analytics_IndivdiualReportsList.length);
               

                       var newReportNamesss = Object.getOwnPropertyNames(menuObj[i].Analytics_IndivdiualReportsList[0]).sort();
                     //  console.log(newReportNamesss.length);

                        
                        for(var k=0;k<newReportNamesss.length;k++){

                            switch(newReportNamesss[k]){

                                case 'ALARM':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].ALARM==false){ document.getElementById('alarmRl').innerHTML ='';}
                                break;
                                case 'IDLE':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].IDLE==false){   document.getElementById('idleRl').innerHTML = '';}
                                break;
                                case 'MOVEMENT':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].MOVEMENT==false){   document.getElementById('movementRl').innerHTML = ''; document.getElementById('noDataRl').innerHTML = ''; }
                                break;
                                case 'OVERSPEED':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].OVERSPEED==false){   document.getElementById('overspeedRl').innerHTML = '';}
                                break;
                                case 'PARKED':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].PARKED==false){   document.getElementById('parkedRl').innerHTML = '';}
                                break;
                                case 'TRIP_TIME':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].TRIP_TIME==false){   document.getElementById('tripRl').innerHTML = '';}
                                break;
                                case 'TRIP_SUMMARY':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].TRIP_SUMMARY==false){   document.getElementById('tripkmsRl').innerHTML = '';}
                                break;
                            /*  case 'SITE':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].SITE==false){   document.getElementById('siteRl').innerHTML = '';}
                                break; */
                                case 'SITE_TRIP':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].SITE_TRIP==false){   document.getElementById('tripSiteRl').innerHTML = '';}
                                break;
                             /* case 'EVENT':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].EVENT==false){   document.getElementById('eventRl').innerHTML = '';}
                                break; */
                                case 'STOPPAGE':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].STOPPAGE==false){   document.getElementById('stoppageRl').innerHTML = '';}
                                break;
                            /*  case 'MULTIPLE_SITE':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].MULTIPLE_SITE==false){   document.getElementById('multiSiteRl').innerHTML = '';}
                                break; */
                                case 'FUEL':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].FUEL==false){  document.getElementById('fuelRl').innerHTML = '';

                                    if(labelVal=="false") {
                                        document.getElementById('fuelNewRl').innerHTML = '';
                                    }

                                    }
                                break;
                                case 'IGNITION':
                                  if( menuObj[i].Analytics_IndivdiualReportsList[0].IGNITION==false){  document.getElementById('ignitionRl').innerHTML = '';document.getElementById('prmEngineOnRl').innerHTML ='';}
                                break;
                            }
 
                        }

                } else if(newReportName == "Consolidatedvehicles_IndivdiualReportsList"){

                   // console.log( "Consolidatedvehicles_Reports");
                   // console.log(menuObj[i].Consolidatedvehicles_IndivdiualReportsList.length);
               
                     var newReportNamesss = Object.getOwnPropertyNames(menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0]).sort();
                    // console.log(newReportNamesss.length);

                        for(var k=0;k<newReportNamesss.length;k++){

                            switch(newReportNamesss[k]){

                                case 'CONSOLIDATED_SITE_LOCATION':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].CONSOLIDATED_SITE_LOCATION==false ){ document.getElementById('conSiteRl').innerHTML ='';}
                                break;
                                case 'SCHOOL_SMS_REPORT':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].SCHOOL_SMS_REPORT==false ){ document.getElementById('SchoolSmsReportRl').innerHTML = '';}
                                break;
                                case 'CONSOLIDATED_STOPPAGE':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].CONSOLIDATED_STOPPAGE==false ){ document.getElementById('stopReportRl').innerHTML = '';}
                                break;
                                case 'SITESTOPPAGE_ALERT':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].SITESTOPPAGE_ALERT==false ){ document.getElementById('siteAlertReportRl').innerHTML = '';}
                                break;
                                case 'CURRENT_STATUS':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].CURRENT_STATUS==false ){ document.getElementById('curStatRl').innerHTML = '';}
                                break;
                                case 'TOLLGATE_REPORT':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].TOLLGATE_REPORT==false ){ document.getElementById('tollReportRl').innerHTML = '';}
                                break;
                                case 'EMPATTN_REPORT':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].EMPATTN_REPORT==false ){ document.getElementById('empAtnReportRl').innerHTML = '';}
                                break;
                                case 'CONSOLIDATED_OVERSPEED':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].CONSOLIDATED_OVERSPEED==false ){ document.getElementById('conOvrRl').innerHTML = '';}
                                break;
                                case 'VEHICLES_CONSOLIDATED':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].VEHICLES_CONSOLIDATED==false ){ document.getElementById('vehConsRl').innerHTML = '';}
                                break;
                                case 'CONSOLIDATED_SITE':
                                  if( menuObj[i].Consolidatedvehicles_IndivdiualReportsList[0].CONSOLIDATED_SITE==false ){ document.getElementById('conSiteLocRl').innerHTML = '';}
                                break;
                            }
                         }

                } else if(newReportName == "Performance_IndivdiualReportsList"){

                  //  console.log( "Performance_Reports");
                   // console.log(menuObj[i].Performance_IndivdiualReportsList.length);
               
                       var newReportNamesss = Object.getOwnPropertyNames(menuObj[i].Performance_IndivdiualReportsList[0]).sort();
                     //  console.log(newReportNamesss.length);

                        for(var k=0;k<newReportNamesss.length;k++){

                            switch(newReportNamesss[k]){

                                case 'DAILY_PERFORMANCE':
                                  if( menuObj[i].Performance_IndivdiualReportsList[0].DAILY_PERFORMANCE==false){ document.getElementById('dailyPerfRl').innerHTML ='';}
                                break;
                                case 'MONTHLY_PERFORMANCE':
                                  if( menuObj[i].Performance_IndivdiualReportsList[0].MONTHLY_PERFORMANCE==false){   document.getElementById('monPerfRl').innerHTML = '';}
                                break;
                            }
                         }

                } else if(newReportName == "Sensor_IndivdiualReportsList") {

                  if(labelVal!="true"){

                // console.log( "Sensor_Reports");
                   // console.log(menuObj[i].Sensor_IndivdiualReportsList.length);
               
                       var newReportNamesss = Object.getOwnPropertyNames(menuObj[i].Sensor_IndivdiualReportsList[0]).sort();
                      // console.log(newReportNamesss.length);

                        for(var k=0;k<newReportNamesss.length;k++){

                            switch(newReportNamesss[k]){

                                case 'AC':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].AC==false){ 
                                    document.getElementById('acRl').innerHTML ='';
                                    document.getElementById('engineOnRl').innerHTML ='';
                                  }
                                break;
                                case 'DISTANCE_TIME':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].DISTANCE_TIME==false){ document.getElementById('distTimeRl').innerHTML ='';}
                                break;
                                case 'TEMPERATURE_DEVIATION':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].TEMPERATURE_DEVIATION==false){  document.getElementById('tempdevRl').innerHTML = '';}
                                break;
                                case 'TEMPERATURE':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].TEMPERATURE==false){  document.getElementById('tempRl').innerHTML = '';}
                                break;
                                case 'LOAD':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].LOAD==false){  document.getElementById('loadRl').innerHTML = '';}
                                break;
                             /* case 'FUEL_NEW':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].FUEL_NEW==false){  document.getElementById('fuelNewRl').innerHTML = '';}
                                break; */
                                case 'FUEL_FILL':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].FUEL_FILL==false){  document.getElementById('fuelFillRl').innerHTML = '';}
                                break;
                                case 'RFID':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].RFID==false){  
                                    document.getElementById('rfidRl').innerHTML = ''; 
                                    document.getElementById('rfidNewRl').innerHTML = '';}
                                break;
                                case 'CAMERA':
                                  if( menuObj[i].Sensor_IndivdiualReportsList[0].CAMERA==false){  document.getElementById('cameraRl').innerHTML = '';}
                                break;
                            }
                         } 
                    }
                        
                } else if(newReportName == "Statistics_IndivdiualReportsList"){

                   // console.log( "Statistics_Reports");
                   // console.log(menuObj[i].Statistics_IndivdiualReportsList.length);
               
                       var newReportNamesss = Object.getOwnPropertyNames(menuObj[i].Statistics_IndivdiualReportsList[0]).sort();
                     //  console.log(newReportNamesss.length);

                        for(var k=0;k<newReportNamesss.length;k++){

                            switch(newReportNamesss[k]){

                                case 'EXECUTIVE_FUEL':
                                  if( menuObj[i].Statistics_IndivdiualReportsList[0].EXECUTIVE_FUEL==false){ document.getElementById('exfuelRl').innerHTML ='';}
                                break;
                                case 'MONTHLY_DIST_AND_FUEL':
                                  if( menuObj[i].Statistics_IndivdiualReportsList[0].MONTHLY_DIST_AND_FUEL==false){  document.getElementById('monDistFuelRl').innerHTML = '';}
                                break;
                                case 'DAILY':
                                  if( menuObj[i].Statistics_IndivdiualReportsList[0].DAILY==false){  document.getElementById('dailyRl').innerHTML = '';}
                                break;
                                case 'MONTHLY_DIST':
                                  if( menuObj[i].Statistics_IndivdiualReportsList[0].MONTHLY_DIST==false){  document.getElementById('monDistRl').innerHTML = '';}
                                break;
                                case 'POI':
                                  if( menuObj[i].Statistics_IndivdiualReportsList[0].POI==false){  document.getElementById('poiRl').innerHTML = '';}
                                break;
                                case 'CONSOLIDATED':
                                  if( menuObj[i].Statistics_IndivdiualReportsList[0].CONSOLIDATED==false){  document.getElementById('consolRl').innerHTML = '';}
                                break;
                            }
 
                        }

                } else if(newReportName == "Tracking_IndivdiualReportsList"){

                   // console.log( "Tracking_Reports");
                   // console.log(menuObj[i].Tracking_IndivdiualReportsList.length);
               
                       var newReportNamesss = Object.getOwnPropertyNames(menuObj[i].Tracking_IndivdiualReportsList[0]).sort();
                     //  console.log(newReportNamesss.length);

                        
                        for(var k=0;k<newReportNamesss.length;k++){

                            switch(newReportNamesss[k]){

                                case 'SINGLE_TRACK':
                                  if( menuObj[i].Tracking_IndivdiualReportsList[0].SINGLE_TRACK==false){ 
                                    document.getElementById('singleTrackRl').innerHTML ='';
                                    //document.getElementById('singleTrackRls').innerHTML ='';
                                  }
                                break;
                                case 'ROUTES':
                                  if( menuObj[i].Tracking_IndivdiualReportsList[0].ROUTES==false){ document.getElementById('routesRl').innerHTML = '';}
                                break;
                                case 'ADDSITES_GEOFENCE':
                                  if( menuObj[i].Tracking_IndivdiualReportsList[0].ADDSITES_GEOFENCE==false){ document.getElementById('addsiteRl').innerHTML = '';}
                                break;
                                case 'MULTITRACK':
                                  if( menuObj[i].Tracking_IndivdiualReportsList[0].MULTITRACK==false){ document.getElementById('multiTrackRl').innerHTML = '';}
                                break;
                                case 'HISTORY':
                                  if( menuObj[i].Tracking_IndivdiualReportsList[0].HISTORY==false){ document.getElementById('historyRl').innerHTML = '';}
                                break;
                            }
                         }

                } else if(newReportName == "Useradmin_IndivdiualReportsList"){

                   // console.log( "Useradmin_Reports");
                   // console.log(menuObj[i].Useradmin_IndivdiualReportsList.length);
               
                       var newReportNamesss = Object.getOwnPropertyNames(menuObj[i].Useradmin_IndivdiualReportsList[0]).sort();
                    //   console.log(newReportNamesss.length);

                        for(var k=0;k<newReportNamesss.length;k++){

                            switch(newReportNamesss[k]){

                                case 'EDIT_NOTIFICATION':
                                  if( menuObj[i].Useradmin_IndivdiualReportsList[0].EDIT_NOTIFICATION==false){ document.getElementById('editNotRl').innerHTML ='';document.getElementById('editUsNotRl').innerHTML =''}
                                break;
                                case 'PAYMENT_REPORTS':
                                  if( menuObj[i].Useradmin_IndivdiualReportsList[0].PAYMENT_REPORTS==false){  document.getElementById('payDetRl').innerHTML = '';}
                                break;
                                case 'GET_APIKEY':
                                  if( menuObj[i].Useradmin_IndivdiualReportsList[0].GET_APIKEY==false){  document.getElementById('getApiRl').innerHTML = '';}
                                break;
                                case 'EDIT_BUSSTOP':
                                  if( menuObj[i].Useradmin_IndivdiualReportsList[0].EDIT_BUSSTOP==false){  document.getElementById('editBusRl').innerHTML = '';}
                                break;
                                case 'RESET_PASSWORD':
                                  if( menuObj[i].Useradmin_IndivdiualReportsList[0].RESET_PASSWORD==false){  document.getElementById('resetRl').innerHTML = '';}
                                break;
                                case 'EDIT_GROUP':
                                  if( menuObj[i].Useradmin_IndivdiualReportsList[0].EDIT_GROUP==false){  document.getElementById('editGrpRl').innerHTML = '';}
                                break;
                            }
                        }

                } else if(newReportName == "TRACK_PAGE"){

                     if( menuObj[i].TRACK_PAGE[0].Normal_View==true ) {

                        sessionStorage.setItem('trackNovateView', false);

                         
                     } else {

                        sessionStorage.setItem('trackNovateView', true); 

                     }
           
                   
                }
             }

        } else{
            console.log('Empty getReportsList API ....');
        }
   }

    }).error(function(){

        console.log('error getReportsList');
     });;
  
            var sp     = obj.split(',');
            var vid    = sp[0];
            var gname  = sp[1];
            

            $("#movement").click(function() {
                window.localStorage.removeItem("reload");
               $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=movement' );
            });

            $("#noData").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=noData' );
            });

            $("#overspeed").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=overspeed')
            });
            $("#parked").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=parked')
            });
            $("#idle").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=idle')
            });
            $("#event").click(function() {
                $(this).attr("href", 'event?vid='+vid+'&vg='+gname+'&tn=event')
            });
            $("#site").click(function() {
                $(this).attr("href", 'siteReport?vid='+vid+'&vg='+gname+'&tn=site')
            }); 
            $("#multiSite").click(function() {
                $(this).attr("href", 'multiSite?vid='+vid+'&vg='+gname+'&tn=multiSite')
            });
            $("#tripSite").click(function() {
                $(this).attr("href", 'tripSite?vid='+vid+'&vg='+gname+'&tn=tripSite')
            });
            $("#load").click(function() {
                $(this).attr("href", 'loadDetails?vid='+vid+'&vg='+gname+'&tn=load')
            });
            $("#fuel").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=fuel')
            });
            $("#fuelNew").click(function() {
                $(this).attr("href", 'fuelNew?vid='+vid+'&vg='+gname+'&tn=fuelNew')
            });
            $("#ignition").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=ignition')
            });
            $('#trip').click(function() {
                $(this).attr("href", 'trip?vid='+vid+'&vg='+gname+'&tn=trip')
            });
            $('#tripkms').click(function() {
                // console.log(' clck ')
                $(this).attr("href", 'track?vid='+vid+'&vg='+gname+'&tn=tripkms&maps=tripkms')
            });
            $('#temp').click(function() {
                // console.log(' clck ')
                $(this).attr("href", 'temperature?vid='+vid+'&vg='+gname+'&tn=temperature')
            });
            $('#tempdev').click(function() {
                // console.log(' clck ')
                $(this).attr("href", 'temperature?vid='+vid+'&vg='+gname+'&tn=temperatureDev')
            });
            $('#alarm').click(function(){
                $(this).attr("href", 'alarm?vid='+vid+'&vg='+gname+'&tn=alarm')
            })

        /*  $('#ac').click(function(){
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=acreport')
            }) */

            $('#stoppage').click(function(){
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=stoppageReport')
            })

            $('#rfid').click(function(){
                $(this).attr("href", 'rfidTag?vid='+vid+'&vg='+gname+'&tn=rfid')
            })

            $('#rfidNew').click(function(){
                $(this).attr("href", 'rfidTagNew?vid='+vid+'&vg='+gname+'&tn=rfidNew')
            })

            $('#ac').click(function(){
                $(this).attr("href", 'ac?vid='+vid+'&vg='+gname+'&tn=ac')
            })

             $('#idleWaste').click(function(){
                $(this).attr("href", 'idleWaste?vid='+vid+'&vg='+gname+'&tn=ac')
            })

            $('#engineOn').click(function(){
                $(this).attr("href", 'ac?vid='+vid+'&vg='+gname+'&tn=engine')
            })

            $('#prmEngineOn').click(function(){
                $(this).attr("href", 'ac?vid='+vid+'&vg='+gname+'&tn=prmEngine')
            })
            
            $('#camera').click(function(){
                $(this).attr("href", 'camera?vid='+vid+'&vg='+gname+'&tn=camera')
            })

            $('#stopReport').click(function(){
                $(this).attr("href", 'stopReport?vid='+vid+'&vg='+gname+'&tn=stopReport')
            })

            $('#ConSiteLocReport').click(function(){
                $(this).attr("href", 'ConSiteLocReport?vid='+vid+'&vg='+gname+'&tn=ConSiteLocReport')
            })

            $('#tollReport').click(function(){
                $(this).attr("href", 'tollReport?vid='+vid+'&vg='+gname+'&tn=tollReport')
            })

            $('#empAtnReport').click(function(){
                $(this).attr("href", 'empAtnReport?vid='+vid+'&vg='+gname+'&tn=empAtnReport')
            })

            $('#SchoolSmsReport').click(function(){
                $(this).attr("href", 'SchoolSmsReport?vid='+vid+'&vg='+gname+'&tn=SchoolSmsReport')
            })
            
            $('#siteAlertReport').click(function(){
                $(this).attr("href", 'siteAlertReport?vid='+vid+'&vg='+gname+'&tn=siteAlertReport')
            })

            $('#multiTrack').click(function(){
                $(this).attr("href", 'track?vehicleId='+vid+'&track=multiTrack&maps=mulitple');
                $(this).attr("target", '_blank');
            });
            $('#singleTrack').click(function(){
                $(this).attr("href", 'track?vehicleId='+vid+'&track=single&maps=single');
                $(this).attr("target", '_blank');
            });

            $('#history').click(function () {
                $(this).attr("href", "track?maps=replay&vehicleId="+vid+'&gid='+gname);
            })

        /*  $('#vehiView').click(function () {
                $(this).attr("href", "track?maps=viewVehicles&userId="+sp1[1]+'&group='+gname);
            }) */

        /*    $('#landNew').click(function () {
                $(this).attr("href", "track?maps=landNew");
            }) */

          /*   $('#dashNew').click(function () {
                $(this).attr("href", "dashNew");
            }) */

            //auto logout 

            /*   
             function  logout() {                                                                                                                                                               window.location ="./public/login";
             }

            setTimeout(function(){ logout() }, 3600000);  //logout after one hour

        
        /*  setInterval(function(){ 
                $.get( "http://localhost/vamo/public/getVehicleHistory?vehicleId=TN66M0451&fromDate=2017-09-04&fromTime=16:17:20&fromDateUTC=1504522040000&userId=MSS", function( data ) {
                      $( ".result" ).html( data );
                      console.log(JSON.parse(data));
                });
             }, 3000); */


             //on click menu function to refresh START
/*                $('.funMe').click(function(){

                    $("#wrapper").click(function() {
                        window.location='history?vid='+vid+'&vg='+gname+'&tn=movement';
                    });        
                })

           // on click menu function to refresh END


           // code for onload div selection START
  
                function callSelectedDiv(){
                    {        
                         $('#wrapper').click(function()
                         {
                            $("#wrapper").click(function()
                            {
                                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=movement' );
                                window.localStorage.setItem("reload",1);
                            });
                                
                            window.location="#"+vid;
                           });

                           $('#movement').trigger('click'); // trigger auto click
                           window.localStorage.setItem("reload",1);
                          }
                        }

            // code for onload div selection END


            // calling SelectedDiv Function START                

             $(document).ready(function(){
                
                callSelectedDiv();
             });

*/          //calling SelectedDiv Function END


            $('#addsites').click(function(){
                if(sessionStorage.getItem('auth') == 'sitesVal')
                    $(this).attr("href", 'track?maps=sites')
                else
                    $(this).attr("href", 'password_check') 
            });
           

        //    var isVir = JSON.parse(sessionStorage.getItem('isVirtualUser'));
        //    if(isVir == null || isVir == undefined){
              

            $.get('//'+globalIP+contextMenu+'/public/isVirtualUser', function(response) {
                
                var menuVal =response.trim();
                sessionStorage.setItem('isVirtualUser', JSON.stringify(menuVal));

                if(menuVal == 'true') {
                    var myList = document.getElementsByClassName('removeli_2');
                    for (var i = 0; myList.length > i ; i++) {
                       myList[i].innerHTML = '';
                    }
                }
                
            }).error(function(){
                    console.log('error in isVirtualUser');
            });

          
    // }
    
/*      function getMaxOfArray(numArray) {
           return Math.max.apply(null, numArray);
        }

        function trimDueDays(value){
           var splitValue=value.split(/[ ]+/);
           return  splitValue[2];
        }

        function zohoDayValue(value){
      
           if(value>=7){
            
             var myList = document.getElementsByClassName('removeli');
                for (var i = 0; myList.length > i ; i++) {
                    myList[i].innerHTML = '';
                }
               console.log('7 (or) more than 7 days...');
           }
           else{

            console.log('less than 7 days...');
           }
        }

        function zohoDataCall(data){

            var zohoDayss=[];
   
            angular.forEach(data.hist,function(val, key){
                zohoDayss.push(trimDueDays(val.dueDays));
            })
         //  console.log(getMaxOfArray(zohoDayss));

        zohoDayValue(getMaxOfArray(zohoDayss));
        }
   

        $.get('//'+globalIP+contextMenu+'/public/getZohoInvoice?', function(response) {
             
              var zohoRaw=[];
                  zohoRaw=JSON.parse(response); 

                  zohoDataCall(zohoRaw);
               
        }).error(function(){
                    console.log('Error in Zoho Url(Nav Menu Page)');
     }); */

</script>
